/* Defining style rules for box layout of the theme */


/* Defining style rules for containers */

[class*="ipro-container"]:not(.select2-container):not(.mejs-container) {
    margin: 0 auto;
    width: 100%;
    &.#{$ns} {
        &-container {
            /* THEME-NGL main container */
            &--main {
                max-width: 1170px;
            }
            @include media("<=ipad") {
                padding: 0 15px;
            }
            /* THEME-NGL large container */
            &--large {
                @include media(">widescreen") {
                    max-width: 1370px;
                }
                @include media("<=widescreen", ">desktop") {
                    max-width: 1310px;
                }
                @include media("<=desktop", ">laptop") {
                    max-width: 1220px;
                }
                @include media("<=laptop") {
                    max-width: 1170px;
                }
            }
            /* Theme-NGL medium container */
            &--medium {
                max-width: 1101px;
                @include media(">ipad") {
                    //padding: 2.65rem 2.125rem 0rem;
                }
                @include media("<=ipad", "landscape") {
                    //padding: 2.65rem 1.5rem 0rem;
                }
                @include media("<=ipad", "portrait") {
                    //padding: 1.5rem 0rem 0rem;
                }
            }
            /* THEME-NGL small container */
            &--text {
                max-width: 840px;
                @include media("<=smart-phone") {
                    padding: 0 15px;
                }
                /* Small container */
                &-small {
                    max-width: 470px;
                    @include media("<=smart-phone") {
                        padding: 0 15px;
                    }
                }
            }
            /* Very small 300px container */
            &--s300 {
                max-width: 300px;
            }
            /* Full width container */
            &--full {
                max-width: 100%;
            }
            @include media("<=smart-phone") {
                section & {
                    .#{$ns}-container {
                        padding-right: 0 !important;
                        padding-left: 0 !important;
                    }
                }
            }
        }
    }
    @include media("<=maxWidth") {
        &:not(.swiper-container):not(.ipro-container--text) {
            padding: 0 15px;
        }
    }
}


/* NGL gutter sizes */

.#{$ns} {
    /* Gutter size */
    &__gutter {
        @include media(">smart-phone") {
            &--size54 {
                margin-right: -23px;
                margin-left: -23px;
                >[class*="col-"] {
                    padding-right: 23px;
                    padding-left: 23px;
                }
            }
        }
        @include media("<=smart-phone") {
            &--size54 {
                >[class*="col-"] {
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
}


/* THEME - NGL display inline block col fixer */

.#{$ns} {
    &-row--fixer {
        /* display: table;
    width: calc(100% + 30px);
    font-size: 0; */
        display: flex;
        align-items: center;
        >* {
            display: flex;
            align-items: center;
        }
    }
}


/* Defining style rules for box with alignments */

[class*="-valign"] {
    display: inline-block;
    float: none;
    &.#{$ns} {
        &-valign--top {
            vertical-align: top;
        }
    }
    &.#{$ns} {
        &-valign--middle {
            vertical-align: middle;
        }
    }
    &.#{$ns} {
        &-valign--bottom {
            vertical-align: bottom;
        }
    }
}


/* Main wrapper */

.#{$ns} {
    &-main {
        @include media(">laptop") {
            padding-top: 156px; //148px;
        }
        @include media("<=laptop", ">ipad") {
            padding-top: 132px;
        }
        @include media("<=ipad", ">smart-phone") {
            padding-top: 121px;
        }
        @include media("<=smart-phone") {
            padding-top: 99px;
        }
    }
}


/* Defining style rules for grid in mobile screen */

@include media("<=smart-phone") {
    [class*="col-"]:not(.ipro-logo--col):not(.ipro-menu__submenu__col):not(.ipro-block__col):not(.ipro-accordion__col):not(.ipro-col__colorName) {
        &:not(:last-of-type) {
            //margin-bottom: 1.429rem;
            margin-bottom: 1.75rem;
        }
        &[class*="-accordion"] {
            margin-bottom: 0;
        }
        .#{$ns}-block--full & {
            &[class*="__gap"] {
                margin-bottom: 0;
            }
        }
    }
}


/* Defining style rules for flexboxes */

.#{$ns} {
    &-flex {
        @include media(">ipad") {
            .has-megamenu & {
                //opacity: 0;
                //transform: translateY(-25px);
                //transition: all ease-in-out 1.0s;
            }
            .has-megamenu.hover-on & {
                //opacity: 1;
                //transform: translateY(0px);
            }
        }
        @include media("<=ipad") {
            /* Flexbox row with different left - right gutter */
            &[class*="--gutter"] {
                margin-right: -15px;
                margin-left: -15px;
                >[class*="col"] {
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
        /* Flexbox row with different left - right gutter */
        &--gutter32 {
            @include media(">laptop") {
                margin-right: -16px;
                margin-left: -16px;
                >[class*="col"] {
                    padding-right: 16px;
                    padding-left: 16px;
                }
            }
            @include media("<=laptop", ">ipad") {
                margin-right: -15px;
                margin-left: -15px;
                >[class*="col"] {
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
        /* Flexbox row with different left - right gutter */
        &--gutter70 {
            @include media(">laptop") {
                margin-right: -43px;
                margin-left: -43px;
                >[class*="col"] {
                    padding-right: 43px;
                    padding-left: 43px;
                }
            }
            @include media("<=laptop", ">ipad") {
                margin-right: -25px;
                margin-left: -25px;
                >[class*="col"] {
                    padding-right: 25px;
                    padding-left: 25px;
                }
            }
        }
        /* Flexbox row with different left - right gutter */
        &--gutter90 {
            @include media(">laptop") {
                margin-right: -43px;
                margin-left: -43px;
                >[class*="col"] {
                    padding-right: 43px;
                    padding-left: 43px;
                    text-align: justify;
                }
            }
            @include media("<=laptop", ">ipad") {
                margin-right: -25px;
                margin-left: -25px;
                >[class*="col"] {
                    padding-right: 25px;
                    padding-left: 25px;
                    text-align: justify;
                }
            }
        }
        /* Flexbox row with different left - right gutter */
        &--gutter34 {
            @include media(">laptop") {
                margin-right: -17px;
                margin-left: -17px;
                >[class*="col"] {
                    padding-right: 17px;
                    padding-left: 17px;
                }
            }
            @include media("<=laptop", ">ipad") {
                margin-right: -15px;
                margin-left: -15px;
                >[class*="col"] {
                    padding-right: 15px;
                    padding-left: 15px;
                    text-align: justify;
                }
            }
        }
        @include media(">smart-phone") {
            display: flex;
            flex-direction: row;
            /* flex-wrap: wrap; */
            justify-content: center;
            flex-grow: 0;
            flex-shrink: 0;
            /* align-items: center; */
            /* -webkit-box-pack: end; */
            /* display: -webkit-box; */
            /* -webkit-flex-wrap: wrap; */
            [data-section-type="full-width-image"] & {
                justify-content: flex-end;
            }
            &--wrap {
                flex-wrap: wrap;
            }
            /* vcenter alignment */
            &--vcenter {
                //align-items: center;
            }
            /* Flexbox row with content aligned to left */
            &--alignItemsStart {
                justify-content: flex-start;
            }
            /* Flexbox row with content aligned to center */
            &--alignItemsCenter {
                justify-content: center;
                >[class*="flex__col"] {
                    align-items: center;
                }
            }
            /* Fix to old version of Safari */
            .browser-safari & {
                /* display: -webkit-box; */
            }
            .safari__8 & {
                display: table;
            }
            &__col {
                display: flex;
                justify-content: center;
                &--center,
                &--utilities {
                    //flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                }
                &--fstart {
                    justify-content: flex-start;
                }
                &--utilities {
                    &:last-of-type {
                        @include media(">desktop") {
                            padding-right: 5.5rem;
                            padding-left: 5.5rem;
                        }
                    }
                }
                .#{$ns}-flex--vcenter & {
                    align-items: center;
                }
                /* display: -webkit-box; */
                /* flex-wrap: wrap; */
                /* -webkit-flex-wrap: wrap; */
                /* Fix to old version of Safari */
                .browser-safari & {
                    /* display: -webkit-box; */
                }
                .safari__8 & {
                    float: left;
                }
                /* One half cols */
                &--6 {
                    width: 50%;
                }
                >* {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

.gap {
    &-top35 {
        &:not(:first-child) {
            margin-top: 35px;
        }
    }
}