/* Defining style rules for CMS blocks/sections of the theme */

.#{$ns} {
    &-block {
        position: relative;
        //overflow: hidden;
        /* Color variations */
        /* Color grey */
        &--grey {
            background: {
                color: $color-whiteSmoke;
            }
        }
        /* Color white */
        &--white {
            background: {
                color: $color-white;
            }
        }
        /* Color white */
        &--heather {
            background: {
                color: $color-heather;
            }
        }
        /* Color goldenrod(blue) */
        &--goldenrod {
            background: {
                color: $color-darkGoldenrod;
            }
        }
        /* Defining style rules for Shortcodes blocks :: Picto with title */
        &--picto {
            @include media(">smart-phone") {
                .ipro-flex {
                    justify-content: center;
                }
            }
            a {
                display: inline-block;
                color: $color-white;
                &.active {
                    span {
                        color: $color-charcoal;
                        &::after {
                            background: {
                                color: $color-charcoal;
                            }
                            transform: scale3d(1, 1, 1);
                        }
                    }
                }
                &:hover {
                    span {
                        color: $color-charcoal;
                        &::after {
                            background: {
                                color: $color-charcoal;
                            }
                        }
                    }
                    i {
                        &:not([class*="--small"]) {
                            border-color: $color-charcoal;
                            color: $color-charcoal;
                        }
                        &.icon-picto {
                            &::before {
                                background: {
                                    image: url(#{$img-path}picto-grey-icon.png);
                                    repeat: no-repeat;
                                    size: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &.#{$ns}-block--white {
                a {
                    color: $color-storm-grey;
                    &:hover {
                        i {
                            &[class*="--small"] {
                                // border-color: $color-charcoal;
                                // color: $color-charcoal;
                            }
                        }
                    }
                }
            }
            &__circle {
                font-family: $ff-museo-500;
                text-transform: $uc;
                line-height: 1.250rem;
                text-align: center;
                figcaption {
                    >span {
                        position: relative;
                        display: inline-block;
                        transition: all linear 0.30s;
                        &::after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            content: "";
                            height: 1px;
                            width: 100%;
                            background: $color-white;
                            transform: scale3d(0, 0, 0);
                            transition: all linear 0.30s;
                        }
                    }
                    @include media(">smart-phone") {
                        display: inline-block;
                        width: 100%;
                    }
                }
                &:hover {
                    figcaption {
                        >span {
                            &::after {
                                transform: scale3d(1, 1, 1);
                            }
                        }
                    }
                }
                @include media(">laptop") {
                    font-size: 1.250rem;
                }
                @include media("<=smart-phone") {
                    display: inline-block;
                    vertical-align: top;
                }
                .icon {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 2.000rem;
                    border-radius: 50%;
                    transition: all ease-in-out 0.5s;
                    .#{$ns}-block--white & {
                        &[class*="icon-picto"] {
                            border-color: $color-storm-grey;
                            color: $color-storm-grey;
                        }
                    }
                    .active & {
                        &[class*="icon"] {
                            border-color: $color-charcoal;
                            color: $color-charcoal;
                        }
                    }
                    &-path {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                        >[class*="path"] {
                            @include media(">ipad") {
                                font-size: 3rem;
                            }
                            @include media("<=ipad", ">smart-phone") {
                                font-size: 2.25rem;
                            }
                            @include media("<=smart-phone", ">phone") {
                                font-size: 5rem;
                            }
                            @include media("<=phone") {
                                font-size: 3.5rem;
                            }
                        }
                    }
                    @include media(">ipad") {
                        &:not([class*="--small"]) {
                            width: 9.938rem;
                            height: 9.938rem;
                            border: 5px solid $color-white;
                            font-size: 3.810rem;
                        }
                        &[class*="--small"] {
                            width: 7rem;
                            height: 7rem;
                            border: 4px solid $color-white;
                            font-size: 3rem;
                        }
                    }
                    @include media("<=ipad", ">smart-phone") {
                        &:not([class*="--small"]) {
                            width: 8.25rem;
                            height: 8.25rem;
                            border: 4px solid $color-white;
                            font-size: 2.810rem;
                        }
                        &[class*="--small"] {
                            width: 6rem;
                            height: 6rem;
                            border: 4px solid $color-white;
                            font-size: 2.25rem;
                        }
                    }
                    @include media("<=smart-phone", ">phone") {
                        &:not([class*="--small"]) {
                            width: 15rem;
                            height: 15rem;
                            border: 4px solid $color-white;
                            font-size: 7rem;
                        }
                        &[class*="--small"] {
                            width: 13rem;
                            height: 13rem;
                            border: 4px solid $color-white;
                            font-size: 5rem;
                        }
                    }
                    @include media("<=phone") {
                        &:not([class*="--small"]) {
                            width: 10rem;
                            height: 10rem;
                            border: 4px solid $color-white;
                            font-size: 4rem;
                        }
                        &[class*="--small"] {
                            width: 8rem;
                            height: 8rem;
                            border: 4px solid $color-white;
                            font-size: 3.5rem;
                        }
                    }
                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &-picto {
                        &::before {
                            content: "";
                            width: 3.625rem;
                            height: 3.625rem;
                            background: {
                                image: url(#{$img-path}picto-icon.png);
                                repeat: no-repeat;
                                size: 100%;
                            }
                            transition: all linear 0.35s;
                        }
                        &:hover {
                            &::before {
                                background: {
                                    image: url(#{$img-path}picto-grey-icon.png);
                                    repeat: no-repeat;
                                    size: 100%;
                                }
                            }
                        }
                    }
                    &:hover {
                        //border-color: $color-charcoal;
                        //color: $color-charcoal;
                    }
                }
            }
        }
        /* Small gap block */
        &--gapSmall {
            @include media(">desktop") {
                padding: 6.00rem 0;
            }
            @include media("<=desktop", ">ipad") {
                padding: 5.25rem 0;
            }
            @include media("<=ipad", ">smart-phone") {
                padding: 4.5rem 0;
            }
            @include media("<=smart-phone") {
                padding: 3.75rem 0;
            }
        }
        /* Small gap block */
        &--contactDetails {
            @include media(">desktop") {
                padding: 5.188rem 0 7rem;
            }
            @include media("<=desktop", ">ipad") {
                padding: 5rem 0 6rem;
            }
            @include media("<=ipad", ">smart-phone") {
                padding: 4.5rem 0 5.5rem;
            }
            @include media("<=smart-phone") {
                padding: 3.75rem 0 3.75rem;
                text-align: center;
            }
        }
        /* Block title */
        &--simpleTitle {
            @include media("<=ipad") {
                padding: 3rem 0 3rem;
            }
            @include media(">ipad") {
                padding: 3.5rem 0 3.5rem;
            }
            color: $color-poloBlue;
        }
        /* NGL shortcode :: home page experience block */
        &--twoHalf,
        &--twoHalfSepText {
            &-homepage {
                figure> {
                    a> {
                        img {
                            width: 290px;
                        }
                    }
                }
            }
            &:not(&Small) {
                h3 {
                    color: $color-storm-grey;
                    font-family: $ff-museo-300;
                }
            }
            .ipro-flex__col {
                @include media(">smart-phone") {
                    /* flex-direction: column;
          justify-content: center; */
                }
            }
            @include media("<=smart-phone") {
                text-align: center;
            }
            h2 {
                @include media(">laptop") {
                    margin-bottom: 2.15rem;
                }
                @include media("<=smart-phone") {
                    margin-bottom: 1.25rem;
                }
                +h3 {
                    text-transform: none;
                    @include media(">smart-phone") {
                        margin-top: -1.35rem;
                        margin-bottom: 1.90rem;
                    }
                    @include media("<=smart-phone") {
                        margin-top: -1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            strong {
                display: block;
                margin-bottom: 10px;
                +p {
                    font-size: 1rem;
                }
            }
            p {
                font-size: 1.125rem;
                strong {}
            }
            blockquote {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-bottom: 2.50rem;
                //padding: 0 1.250rem 0 1.250rem;
                padding: 0 0;
                border: 0;
                color: $color-regent;
                font-family: $ff-rbt-rg;
                text-transform: none;
                line-height: 2.188rem;
                &::before,
                &::after {
                    //position: absolute;
                    content: "";
                    display: inline-block;
                    vertical-align: top;
                    width: 1.313rem; //21px;
                    height: 1.063rem; //17px;
                    background: {
                        repeat: no-repeat;
                    }
                    ;
                }
                &::before {
                    //top: 0.35rem;
                    //left: 0;
                    margin-top: 0.35rem;
                    margin-right: 0.85rem;
                    background-image: url(#{$img-path}blockquote-open.png);
                }
                &::after {
                    //bottom: 0.35rem;
                    margin-top: 0.75rem;
                    margin-left: 0.85rem;
                    background-image: url(#{$img-path}blockquote-close.png);
                }
            }
        }
        /* Subsidiaries page block content */
        &--subsidiaries {
            h5,
            address {
                font-family: $ff-roboto-light;
                font-size: 1.25rem;
                a {
                    color: $color-white;
                }
            }
            h5 {
                margin-bottom: 1.25rem;
            }
        }
        // Col with overlay enabled
        &--isoverlay {
            background: transparentize($color-white, 0.38);
            transition: padding linear 0.35s;
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: "";
                display: block;
                background: rgba(255, 255, 255, 0.625);
            }
        }
        // Col with left align
        .text-right {
            @include media(">smart-phone") {
                >div {
                   /* margin: 0 0 0 auto;*/
                }
            }
        }
        .#{$ns}-block--text {
            background: $color-whiteSmoke;
        }
        &.#{$ns}-block--full {
            //background: $color-white;
            .#{$ns}-block--img {
                text-align: center;
                @include media(">desktop") {
                    padding-top: 7rem;
                    padding-right: 0;
                    padding-bottom: 7rem;
                    padding-left: 0;
                }
                @include media("<=desktop", ">smart-phone") {
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                }
            }
        }
        // Col with large top-bottom gap
        &__gap--largecms {
            //padding: 8.125rem 13.438rem;
            /* Targeting different screen resolutions using @media queries */
            @include media(">lg-screen") {
                padding: 9.688rem 10.938rem 9.688rem 10.938rem;
            }
            @include media("<=lg-screen", ">widescreen") {
                padding: 8.125rem 8.250rem 8.125rem 8.250rem;
            }
            @include media("<=widescreen", ">desktop") {
                padding: 7.125rem 7.438rem;
            }
            @include media("<=desktop", ">laptop") {
                padding: 6.125rem 5.438rem;
            }
            @include media("<=laptop", ">ipad") {
                padding: 4.125rem 4.438rem;
            }
            @include media("<=ipad", ">smart-phone") {
                padding: 3.125rem 2.438rem;
            }
            @include media("<=smart-phone") {
                padding: 3.125rem 0.983rem;
            }
            &.ipro-block--text {
                @include media(">smart-phone") {
                    .ipro-col__content {
                        overflow: visible;
                        max-width: 520px;
                        margin: auto;
                        text-align: left;
                    }
                }
            }
        }
        // Col with large top-bottom gap
        &__gap--large {
            //padding: 8.125rem 13.438rem;
            /* Targeting different screen resolutions using @media queries */
            @include media(">lg-screen") {
                padding: 9.125rem 13.438rem 9.125rem 13.438rem;
            }
            @include media("<=lg-screen", ">widescreen") {
                padding: 8.125rem 10.250rem 8.125rem 10.250rem;
            }
            @include media("<=widescreen", ">desktop") {
                padding: 7.125rem 7.438rem;
            }
            @include media("<=desktop", ">laptop") {
                padding: 6.125rem 5.438rem;
            }
            @include media("<=laptop", ">ipad") {
                padding: 4.125rem 4.438rem;
            }
            @include media("<=ipad", ">smart-phone") {
                padding: 3.125rem 2.438rem;
            }
            @include media("<=smart-phone") {
                padding: 3.125rem 0.983rem;
            }
            &.ipro-block--text {
                @include media(">smart-phone") {
                    .ipro-col__content {
                        overflow: visible;
                        max-width: 495px;
                    }
                }
            }
        }
        // Col with medium top-bottom gap
        &__gap--medium {
            //padding: 8.125rem 13.438rem;
            /* Targeting different screen resolutions using @media queries */
            @include media(">lg-screen") {
                padding: 8.125rem 13.438rem 8.125rem 13.438rem;
            }
            @include media("<=lg-screen", ">widescreen") {
                padding: 8.125rem 10.250rem 8.125rem 10.250rem;
            }
            @include media("<=widescreen", ">desktop") {
                padding: 7.125rem 7.438rem;
            }
            @include media("<=desktop", ">laptop") {
                padding: 6.125rem 5.438rem;
            }
            @include media("<=laptop", ">ipad") {
                padding: 4.125rem 4.438rem;
            }
            @include media("<=ipad", ">smart-phone") {
                padding: 3.125rem 2.438rem;
            }
            @include media("<=smart-phone") {
                padding: 3.125rem 0.983rem;
            }
            .ipro-col__content {
                @include media(">smart-phone") {
                    max-width: 474px;
                }
            }
        }
        // Col with only background image
        &--bkg {
            @include media("<=smart-phone") {
                margin-bottom: 0;
                padding-bottom: percentage(553/ 961);
            }
        }
        // Col with large top-bottom gap
        &__gap--small {
            //padding: 8.125rem 13.438rem;
            /* Targeting different screen resolutions using @media queries */
            @include media(">lg-screen") {
                padding: 6.250rem 13.438rem 6.250rem 13.438rem;
            }
            @include media("<=lg-screen", ">widescreen") {
                padding: 6.563rem 10.250rem 6.563rem 10.250rem;
            }
            @include media("<=widescreen", ">desktop") {
                padding: 7.125rem 7.438rem;
            }
            @include media("<=desktop", ">laptop") {
                padding: 6.125rem 5.438rem;
            }
            @include media("<=laptop", ">ipad") {
                padding: 4.125rem 4.438rem;
            }
            @include media("<=ipad", ">smart-phone") {
                padding: 3.125rem 3.438rem;
            }
            @include media("<=smart-phone") {
                padding: 3.125rem 0.983rem;
            }
            .ipro-col__content {
                @include media(">smart-phone") {
                    max-width: 370px;
                }
            }
        }
        &--logo {
            .ipro-block__gap--small {
                @include media("<=desktop", ">laptop") {
                    padding: 6.125rem 6.438rem;
                }
                @include media("<=laptop", ">ipad") {
                    padding: 4.125rem 5.438rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    padding: 3.125rem 4.438rem;
                }
                @include media("<=smart-phone") {
                    &:first-of-type {
                        padding-bottom: 12rem;
                    }
                }
            }
        }
        /* Two half with quality services */
        &__list-group {
            li {
                //font-family: $ff-museo-500;
                //font-weight: bold;
                text-transform: $uc;
                @include media(">desktop") {
                    font-size: 1.563rem;
                }
                @include media("<=desktop", ">laptop") {
                    font-size: 1.250rem;
                }
                @include media("<=laptop", ">smart-phone") {
                    font-size: 1.125rem;
                }
                &:not(:last-of-type) {
                    @include media(">smart-phone") {
                        margin-bottom: 2.250rem;
                    }
                    @include media("<=smart-phone") {
                        margin-bottom: 1.250rem;
                    }
                }
                >span {
                    //font-family: $ff-museo-300;
                    font-weight: 100;
                }
            }
        }
        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transition: all linear 0.35s;
            &.animated {
                transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
                &:hover {
                    transform: translate3d(-50%, -50%, 0) scale3d(1.15, 1.15, 1.15);
                }
            }
            @include media(">desktop") {
                width: 11.125rem;
            }
            @include media("<=desktop", ">laptop") {
                width: 9.125rem;
            }
            @include media("<=laptop", ">smart-phone") {
                width: 7.125rem;
            }
            @include media("<=smart-phone") {
                width: 8.5rem;
            }
        }
        /* Two half section with inverted layout */
        &--invert {
            .ipro-flex__col {
                &:first-of-type {
                    order: 2;
                }
                &:last-of-type {
                    order: 1;
                }
            }
        }
        /* Components cols */
        &__col {
            &--noPadding {
                overflow: hidden;
                padding: 0 0;
            }
            &-caption {
                position: absolute;
                top: 50%;
                right: 0;
                left: 0;
                overflow: visible;
                margin: 0 auto 0px;
                text-align: center;
                transform: translateY(-400%);
                &.slideInDownx {
                    transform: translateY(-50%);
                }
                @include media("<=smart-phone") {
                    .ipro-chevron--right {
                        &::after {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        /* Kwirkd block */
        .ipro-block--kwirksBox__row {
            width: 100%;
            //height: 692px;
            @include media("<=ipad", ">smart-phone") {
                height: 450px;
            }
            @include media("<=laptop", ">ipad") {
                height: 450px;
            }
            @include media("<=desktop", ">laptop") {
                height: 550px;
            }
            @include media("<=widescreen", ">desktop") {
                height: 600px;
            }
            @include media(">widescreen") {
                height: 692px;
            }
            @include media("<=smart-phone") {
                h2 {
                    span {
                        display: block;
                        margin-bottom: 2.625rem;
                    }
                }
            }
            .ipro-block__col-caption,
            .ipro-product__bkg {
                @include media(">smart-phone") {
                    transition: none !important;
                }
            }
            .kwirks-box__hidden-group,
            ul {
                color: $color-white;
                &::before,
                &::after {
                    overflow: hidden;
                    content: "";
                    display: table;
                    height: 0;
                    visibility: hidden;
                }
                &::after {
                    clear: both;
                }
                @include media(">desktop") {
                    font-size: 1.500rem;
                }
                li {
                    position: relative;
                    line-height: 1;
                    transition: all linear 0.33s;
                    &:hover {
                        opacity: 0.75;
                    }
                    @include media(">desktop") {
                        margin-bottom: 0.875rem;
                        //padding-left: 4.063rem;
                        font-size: 1.2500rem;
                    }
                    @include media("<=desktop", ">laptop") {
                        margin-bottom: 0.875rem;
                        //padding-left: 3.063rem;
                        font-size: 1.12500rem;
                    }
                    @include media("<=laptop", ">ipad") {
                        margin-bottom: 0.5rem;
                        //padding-left: 2rem;
                        font-size: 1rem;
                    }
                    @include media("<=ipad", ">smart-phone") {
                        margin-bottom: 0.555rem;
                        //padding-left: 2rem;
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                    @include media("<=smart-phone") {
                        margin-bottom: 1rem;
                        //padding-left: 2rem;
                        font-size: 1.25rem;
                        line-height: 1.2500rem;
                    }
                    &::before {
                        //position: absolute;
                        //top: 0.25rem;
                        //right: 0;
                        //bottom: 0;
                        //left: 0;
                        //content: "";
                        //display: block;
                        //width: 1rem;
                        //height: 1rem;
                        //background: $color-white;
                        //border-radius: 50%;
                        @include media("<=laptop", ">ipad") {
                            width: 0.938rem;
                            height: 0.938rem;
                        }
                        @include media("<=ipad", ">smart-phone") {
                            //top: 0.5rem;
                            top: 0;
                            width: 0.75rem;
                            height: 0.75rem;
                        }
                        @include media("<=smart-phone") {
                            top: 0.35rem;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
                a {
                    color: $color-white;
                    font-family: $ff-museo-500;
                    text-transform: uppercase;
                    @extend %link-hover-center;
                    @include media(">=ipad") {
                        line-height: 1.500rem;
                    }
                    @include media("<=ipad", ">smart-phone") {
                        line-height: 1.500rem;
                    }

                    &:after{
                        background: $color-white;
                    }
                }
            }
        }
        .kwicks-collapsed {
            @include media(">smart-phone") {
                //&::before {
                //  position: absolute;
                //  top: 0;
                //  right: 0;
                //  bottom: 0;
                //  left: 0;
                //  z-index: $one-index;
                //  content: "";
                //  width: 100%;
                //  height: 100%;
                //  background: {
                //    color: transparentize($color-realBlack, 0.5);
                //  }
                //}
                .ipro-block__col-caption {
                    transform: translateY(-50%) rotate(-90deg);
                    transition: none !important;
                }
            }
        }
        .ipro-block--kwirksBox__row>* {
            height: 100%;
            background: {
                color: $color-darkGoldenrod;
            }
            @include media(">smart-phone") {
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 0;
                    opacity: 1;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: {
                        color: transparentize($color-realBlack, 0.5);
                    }
                }
            }
            @include media(">smart-phone") {
                .ipro-kwirks__mbl-trigger {
                    display: none;
                }
            }
            @include media("<=smart-phone") {
                position: static;
                width: 100% !important;
                .ipro-kwirks__mbl-trigger {
                    display: block;
                }
            }
        }
        .ipro-block--kwirksBox__row {
            .no-kwicks {
                &::before {
                    transition: all linear 0.35s;
                }
                &:hover {
                    &::before {
                        opacity: 0;
                    }
                }
            }
        }
        .kwirks-box__hidden--list {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: none;
            height: 100%;
            float: right;
            background: {
                color: $color-darkGoldenrod;
            }
        }
        .ipro-product__bkg {
            background: {
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            @include media("<=smart-phone") {
                padding-bottom: percentage(696 / 635);
                width: 100% !important;
            }
            @include media("<=ipad", ">smart-phone") {
                height: 450px;
            }
            @include media("<=laptop", ">ipad") {
                height: 450px;
            }
            @include media("<=desktop", ">laptop") {
                height: 550px;
            }
            @include media("<=widescreen", ">desktop") {
                height: 600px;
            }
            @include media(">widescreen") {
                height: 692px;
            }
        }
        .kwirks-expand.kwicks-collapsed {
            .kwirks-box__inner {
                //position: static;        
            }
        }
        .kwirks-expand.kwicks-expanded {
            .kwirks-box__inner {
                position: relative;
            }
            &:last-of-type {
                .kwirks-box__inner {
                    float: right;
                }
                .kwirks-box__hidden--list {
                    right: auto;
                    left: 0;
                }
            }
        }
        .kwirks-box__inner {
            //position: static;
            float: left;
            //cursor: pointer;
            @include media("<=smart-phone") {
                position: relative;
                width: 100% !important;
            }
        }
        /* Kwirks hidden mobile content */
        .kwirks-box__hidden--list {
            .kwirks-box__hidden-content {
                @include media(">smart-phone") {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: 0;
                    opacity: 0;
                    transform: translateY(-50%);
                    transition: all linear 0.75s;
                }
                @include media("<=smart-phone") {
                    opacity: 1 !important;
                    padding: 100px 20px 50px;
                }
            }
            @include media("<=smart-phone") {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: $higher-index + 99999999;
                overflow-x: hidden;
                overflow-y: auto;
                pointer-events: none;
                display: block !important;
                margin: 0 -15px;
                width: 105% !important;
                transition: all linear 0.35s;
                //transform: scale3d(0, 0, 0);
                transform: translateX(103%);
                cursor: default;
                &.kwirks-mobile--list {
                    pointer-events: auto;
                    opacity: 1;
                    background: $color-darkGoldenrod;
                    //transform: scale3d(1, 1, 1);
                    transform: translateX(0%);
                    .closer-x {
                        position: absolute;
                        top: 20px;
                        right: 30px;
                        z-index: $higher-index + 3;
                        display: block;
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                        &::before,
                        &::after {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            left: 0;
                            content: "";
                            display: block;
                            width: 35px;
                            height: 2px;
                            background: $color-white;
                            margin: -2px auto 0 auto;
                            transform: rotate(-40deg);
                            transition: all ease-in-out 0.5s;
                        }
                        &::after {
                            width: 35px;
                            transform: rotate(40deg);
                            transition: all ease-in-out 0.5s;
                        }
                    }
                }
            }
        }
        &--map {
            position: relative;
            overflow: hidden;
            background: {
                repeat: repeat;
            }
            font-family: $ff-museo-500;
            @include media(">ipad") {
                padding-top: 5.625rem;
            }
            @include media("<=ipad", ">smart-phone") {
                padding-top: 4rem;
            }
            @include media("<=smart-phone") {
                padding-top: 3.625rem;
                min-height: 230px;
            }
            &__row {
                .map-image {}
            }
            /* Map caption */
            &__caption {
                position: absolute;
                top: auto;
                right: 0;
                left: 0;
                z-index: $one-index;
                display: block;
                margin: 0 auto;
                padding: 0 15px;
                width: 100%;
                @include media(">ipad") {
                    bottom: 8.125rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    bottom: 4.5rem;
                }
                @include media("<=smart-phone") {
                    bottom: 4.125rem;
                    //padding: 0 15px;
                }
            }
            /* Map title */
            &__title {
                transition: all linear 0.35s;
                @include media(">desktop") {
                    //margin-bottom: 14.813rem;
                    margin-bottom: 9.813rem;
                }
                @include media("<=desktop", ">laptop") {
                    margin-bottom: 13rem;
                }
                @include media("<=laptop", ">ipad") {
                    margin-bottom: 12rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    margin-bottom: 10rem;
                }
                @include media("<=smart-phone", ">phone") {
                    margin-bottom: 6rem;
                }
                @include media("<=phone") {
                    margin-bottom: 3rem;
                }
                /* Hide title */
                &.scaleOut {
                    @include media(">smart-phone") {
                        pointer-events: none;
                        opacity: 0;
                        transform: none;
                        &.disabled {
                            margin-bottom: 0;
                            height: 0;
                        }
                    }
                }
            }
            /* Map pointer/marker */
            .hidden .map__marker {
                //display: none;
            }
            &__marker {
                position: absolute;
                top: 5.625rem;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: $one-index;
                display: block;
                margin: 0 auto;
                width: 100%;
                max-width: 1475px;
                transition: all linear 0.35s;
                .#{$ns}-template--home & {
                    pointer-events: none;
                    opacity: 0;
                }
                &.enabled {
                    pointer-events: auto;
                    opacity: 1;
                }
            }
            .map__marker {
                position: absolute;
                &--palma {
                    color: $color-palma;
                }
                &--goldenrod {
                    color: $color-darkGoldenrod;
                }
                &--small {
                    @include media(">desktop") {
                        font-size: 2.76555rem;
                    }
                    @include media("<=desktop", ">laptop") {
                        font-size: 2.5rem;
                    }
                    @include media("<=laptop", ">ipad") {
                        font-size: 2rem;
                    }
                    @include media("<=ipad", ">smart-phone") {
                        font-size: 30px;
                    }
                    @include media("<=smart-phone") {
                        .#{$ns}-template--home & {
                            display: none;
                        }
                        font-size: 16px;
                    }
                }
                &--large {
                    @include media(">desktop") {
                        font-size: 3.925rem;
                    }
                    @include media("<=desktop", ">laptop") {
                        font-size: 3.25rem;
                    }
                    @include media("<=laptop", ">ipad") {
                        font-size: 2.8rem;
                    }
                    @include media("<=ipad", ">smart-phone") {
                        font-size: 44px;
                    }
                    @include media("<=smart-phone") {
                        .#{$ns}-template--home & {
                            display: none;
                        }
                        font-size: 24px;
                    }
                }
                /* Location wise position */
                &--usa {
                    //top: 235px;
                    //left: 375px;
                    top: 33.75%;
                    left: 25.42%;
                }
                &--geneva {
                    //top: 208px;
                    //left: 753px;
                    //top: percentage(202 / 696);
                    //left: percentage(752 / 1475);
                    top: 29.9%;
                    left: 51%;
                    z-index: $one-index;
                }
                &--paris {
                    //top: 211px;
                    //left: 735px;
                    top: 30.1%;
                    left: 49.84%
                }
                &--denmark {
                    //top: 133px;
                    //left: 777px;
                    top: 19.1%;
                    left: 52.70%;
                }
                &--allemagna {
                    //top: 181px;
                    //left: 800px;
                    top: 26.1%;
                    left: 54.2%;
                }
                &--china {
                    //top: 315px;
                    //left: 1220px;
                    top: 45.2%;
                    left: 82.7%;
                }
                &--singapore {
                    //top: 441px;
                    //left: 1208px;
                    top: 63.3%;
                    left: 81.9%;
                }
            }
        }
        /* CMS blocks layout */
        /*
    ** ## common blocks
    */
        /* Banner caption */
        &__caption {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            margin: 0 auto;
            transform: translateY(-50%);
            /* Hero banner caption */
            &--hero {
                width: 100%;
                max-width: 835px;
                @include media("<=smart-phone") {
                    padding: 0 15px;
                }
            }
        }
        /*
    ** #1. Hero banner 
    */
        &--heroBanner {
            position: relative;
            color: $color-white;
            @include media(">lg-widescreen") {
                &-sm {
                    height: 460px;
                }
                &-lg {
                    height: 540px;
                }
            }
            @include media(">ipad", "<=lg-widescreen") {
                &-sm {
                    padding-bottom: percentage(460/1903);
                }
                &-lg {
                    padding-bottom: percentage(460/1903);
                }
            }
            @include media("<=ipad", ">smart-phone") {
                &-sm {
                    padding-bottom: percentage(460/1903) + 10;
                }
                &-lg {
                    padding-bottom: percentage(540/1903) + 10;
                }
            }
            @include media("<=smart-phone", ">phone") {
                &-sm {
                    padding-bottom: percentage(460/1903) + 19;
                }
                &-lg {
                    padding-bottom: percentage(540/1903) + 17.1;
                }
            }
            @include media("<=phone") {
                &-sm {
                    //padding-bottom: percentage(460/1903) + 30;
                    height: 280px;
                }
                &-lg {
                    padding-bottom: percentage(540/1903) + 27.75;
                }
            }
        }
        /* Flex Banner */
        &--flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* NGL block :: Simplex Text */
        &__text {
            &--light {
                font-family: $ff-roboto-light;
            }
        }
        /* /.#NGL block :: Simplex Text */
        /* NGL block :: Quote */
        &--quote {
            @include media(">smart-phone") {
                padding: 4rem 0;
            }
            @include media("<=smart-phone") {
                padding: 3.5rem 0;
            }
            /* content styling */
            h5,
            address {
                font-family: $ff-roboto-emLt;
            }
            address {
                font-size: 1.25rem;
                font-family: "Roboto Lt";
                line-height: 1.85rem;
            }
            a {
                color: $color-white;
            }
        }
        /* /.#NGL block :: Quote */
        /* NGL block :: Large Accordion */
        &--accordionBig {
            .#{$ns}-container {
                max-width: 100%;
            }
        }
        /* /.#NGL block :: Large Accordion */
        /* NGL block :: gridLayout */
        &--gridLayout {
            h3 {
                text-transform: none;
                @include media(">smart-phone") {
                    margin-bottom: 0.7rem;
                }
                @include media("<=smart-phone") {
                    margin-bottom: 0.5rem;
                }
            }
            .#{$ns}-flex__col {
                @include media(">smart-phone") {
                    //align-items: center;
                }
            }
        }
        /* /.#NGL block :: gridLayout */
        /* Block inside block */
        .#{$ns}-block:not[class*="myaccount"] {
            @include media(">smart-phone") {
                margin-top: 4.5rem;
            }
            @include media("<=smart-phone") {
                margin-top: 1.5rem;
            }
        }
        /* Col with text content */
        &--text {
            .#{$ns}-block--twoHalfSmall & {
                @include media(">smart-phone") {
                    padding-right: 32px;
                    padding-left: 45px;
                }
            }
        }
        /* /.#Col with text content */
        /* Gridlayout one half col */
        &--gridLayout {
            &__row {
                @include media(">laptop") {
                    padding: 0 2rem;
                }
            }
            h2 {
                @include media(">smart-phone") {
                    margin-bottom: 2.25rem;
                }
            }
        }
        /* Text separated grid layout */
        &--twoHalfSepText {
            .#{$ns} {
                &-block {
                    &__gap--sepText {
                        /* Targeting different screen resolutions using @media queries */
                        @include media(">lg-screen") {
                            padding: 9.125rem 2.5rem 9.125rem 2.5rem;
                        }
                        @include media("<=lg-screen", ">widescreen") {
                            padding: 8.125rem 2.5rem 8.125rem 2.5rem;
                        }
                        @include media("<=widescreen", ">desktop") {
                            padding: 7.125rem 2.5rem;
                        }
                        @include media("<=desktop", ">laptop") {
                            padding: 6.125rem 2.5rem;
                        }
                        @include media("<=laptop", ">ipad") {
                            padding: 4.125rem 2.5rem;
                        }
                        @include media("<=ipad", ">smart-phone") {
                            padding: 3.125rem 2.5rem;
                        }
                        @include media("<=smart-phone") {
                            padding: 3.125rem 0.983rem;
                        }
                        &[data-color="blue"] {
                            background: {
                                color: $color-darkGoldenrod;
                            }
                            color: $color-white;
                            a {
                                color: $color-white;
                                &::after {
                                    background: {
                                        color: $color-white;
                                    }
                                }
                            }
                        }
                        &[data-color="grey"] {
                            background: {
                                color: $color-whiteSmoke;
                            }
                            h1,
                            h2,
                            h3,
                            h4,
                            h5,
                            h6 {
                                color: $color-palma;
                            }
                        }
                        &[data-color="white"] {
                            background: {
                                color: $color-white;
                            }
                            h1,
                            h2,
                            h3,
                            h4,
                            h5,
                            h6 {
                                color: $color-palma;
                            }
                        }
                        &[data-color="darkGrey"] {
                            background: {
                                color: $color-storm-grey;
                            }
                            color: $color-white;
                            a {
                                color: $color-white;
                                &::after {
                                    background: {
                                        color: $color-white;
                                    }
                                }
                            }
                        }
                        >div {
                            max-width: 520px;
                            margin: auto;
                            text-align: left;
                        }
                    }
                }
            }
        }
        /* NGL Team shortcode */
        &--team {
            text-align: center;
        }
        .#{$ns} {
            &-flex {
                &__col {
                    &--team {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        >div {
                            text-align: center;
                            @include media(">smart-phone") {
                                padding-bottom: 3.50rem;
                            }
                        }
                        figcaption {
                            color: $color-heather;
                            text-align: center;
                            text-transform: $uc;
                            @include media(">smart-phone") {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                left: 0;
                            }
                            @include media("<=smart-phone") {
                                margin-top: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
        /* NGL utilities shortcode */
        &--utilities {
            color: $color-anthracite;
            // font-family: $ff-museo-500;
            // font-size: 1.563rem;
            h3 {
                margin-bottom: 1.55rem;
                text-transform: none;
            }
        }
        /* NGL color schema shortcode */
        &--colorSchema {}
        .#{$ns} {
            &-flex {
                &__col {
                    &--color {
                        @include media(">smart-phone") {
                            flex-direction: column;
                        }
                        &:not(.last-col) {
                            margin-bottom: 2.125rem;
                        }
                    }
                }
            }
            &-col {
                &__box {
                    /* With borders */
                    display: flex;
                    height: 100%;
                    &--bordered {
                        border: 1px solid $color-lightgrey;
                    }
                }
                &__colorName {
                    width: 38%;
                    @include media(">ipad") {
                        padding: 1.125rem 1.125rem 3.5rem;
                    }
                    @include media("<=ipad", ">smart-phone") {
                        padding: 1rem 0.5rem 3.5rem;
                    }
                    @include media("<=smart-phone") {
                        padding: 1.125rem 1rem 3.5rem;
                    }
                }
                &__colorBox {
                    width: 62%;
                    /* Box with darkGoldenrod color */
                    &--darkBlue {
                        background: {
                            color: $color-darkGoldenrod;
                        }
                    }
                    /* Box with skyBlue color */
                    &--skyBlue {
                        background: {
                            color: $color-skyBlue;
                        }
                    }
                    /* Box with vert color */
                    &--vert {
                        background: {
                            color: $color-vert;
                        }
                    }
                    /* Box with noir color */
                    &--noir {
                        background: {
                            color: $color-noir;
                        }
                    }
                    /* Box with anthracite color */
                    &--anthracite {
                        background: {
                            color: $color-anthracite;
                        }
                    }
                    /* Box with grisfonce1 color */
                    &--grisfonce1 {
                        background: {
                            color: $color-grisfonce1;
                        }
                    }
                    /* Box with grisfonce2 color */
                    &--grisfonce2 {
                        background: {
                            color: $color-grisfonce2;
                        }
                    }
                    /* Box with grisclair1 color */
                    &--grisclair1 {
                        background: {
                            color: $color-grisclair1;
                        }
                    }
                    /* Box with grisclair2 color */
                    &--grisclair2 {
                        background: {
                            color: $color-grisclair2;
                        }
                    }
                }
            }
        }
        /* Color related */
        .color {
            &-name {
                display: block;
                color: $color-realBlack;
                font-family: $ff-roboto-bold;
                text-transform: $uc;
                @include media(">ipad") {
                    font-size: 0.938rem;
                    line-height: 1.35rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    font-size: 0.738rem;
                    line-height: 1rem;
                }
            }
            &-code {
                display: block;
                color: $color-nero;
                @include media(">ipad") {
                    font-size: 0.938rem;
                    line-height: 1.35rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    font-size: 0.738rem;
                    line-height: 1rem;
                }
            }
        }
        /* NGL block text container */
        &__text {
            /* Small container */
            &--small {
                @include media(">smart-phone") {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 420px;
                }
            }
        }
        /* Block header section title */
        &__header {
            /* Header with 70px bottom margin */
            &--marBtm70 {
                @include media(">laptop") {
                    margin-bottom: 4.37rem;
                }
                @include media("<=laptop", ">ipad") {
                    margin-bottom: 3.75rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    margin-bottom: 2.5rem;
                }
                @include media("<=smart-phone") {
                    margin-bottom: 2rem;
                }
            }
            /* Bottom margin 80px */
            &--marBtm80 {
                @include media(">laptop") {
                    margin-bottom: 4.500rem;
                }
                @include media("<=laptop", ">ipad") {
                    margin-bottom: 4rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    margin-bottom: 3rem;
                }
                @include media("<=smart-phone") {
                    margin-bottom: 2rem;
                }
            }
        }
    }
    &__grayscale-holder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zero-index;
    }
    /* Gridlayout post col */
    &-postCol {
        &__body {
            &.stretch-full {
                height: 100%;
            }
            /* Post body under one third grid layout */
            .#{$ns}-block--gridLayout-oneThird & {
                @include media(">laptop") {
                    padding: 2rem 2.5rem;
                }
                @include media("<=laptop", ">ipad") {
                    padding: 1.52rem 1.5rem;
                }
                @include media("<=ipad", ">smart-phone") {
                    padding: 1.25rem 0.75rem;
                }
                @include media("<=smart-phone") {
                    padding: 1rem 0;
                }
            }
            /* Post body under one half grid layout */
            .#{$ns}-block--gridLayout-oneHalf & {
                @include media(">smart-phone") {
                    padding: 2.938rem 2.5rem;
                }
                @include media("<=smart-phone") {
                    padding: 1.50rem 0 1rem;
                }
            }
            h3 {
                .#{$ns}-block--gridLayout-oneHalf & {
                    @include media(">smart-phone") {
                        margin-bottom: 1.563rem;
                    }
                    @include media("<=smart-phone") {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    /* /.#Gridlayout post col */
}