/* Defining style rules for different pages of the theme */

/* Style rules for home page :: News / Events section  */

.#{$ns} {
  /* Ngl contact page */
  &-template {
    &--contactus {
      .#{$ns}-block--picto {
        &.#{$ns}-block--white {
          a:hover {
            figcaption span {
              color: inherit;

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &-block {

    @include media(">lg-widescreen") {
      margin: 0 auto;
      width: 100%;
      max-width: 1920px;
      //box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.25);
    }

    /* 404 error page */
    &--error {
      @include media("<=smart-phone") {
        padding: 60px 0;
      }

      @include media(">smart-phone") {
        padding: 100px 0;
      }
    }

    /* Home page blocks */

    /* Style rules for Shortcode newsEvents section */
    &--newsEvents {

      overflow: hidden;
      transition: all linear 0.35s;

      @include media(">desktop") {
        padding: 8.125rem 0;
      }

      @include media("<=desktop", ">laptop") {
        padding: 6.5rem 0;
      }

      @include media("<=laptop", ">ipad") {
        padding: 5.5rem 0;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 3.5rem 0;
      }

      @include media(">smart-phone") {
        background-image: url(#{$img-path}hp-news-bkg.png) $color-springBud;
        background: {
          repeat: repeat;
          position: 50% 0;
          size: contain;
        };
      }

      /*      @include media("<=smart-phone") {
              padding: 3.5rem 0;
              background: $color-springBud;
            }*/

      /* News / Events row */
      .ipro-row {
        &.filter--loading {
          opacity: 0;
          //transform: translateY(-25px);
          //transition: all linear 0.35s;
        }

        @include media(">widescreen") {
          margin-right: -4.063rem;
          margin-left: -4.063rem;
        }

        @include media("<=widescreen", ">desktop") {
          margin-right: -3.125rem;
          margin-left: -3.125rem;
        }

        @include media("<=desktop", ">laptop") {
          margin-right: -2.25rem;
          margin-left: -2.25rem;
        }

        @include media("<=laptop") {
          margin-right: -2rem;
          margin-left: -2rem;
        }

        @include media("<=ipad") {
          margin-right: -1rem;
          margin-left: -1rem;

          .ipro-template--newsEvent & {
            display: block;
          }
        }
      }

      .btn {
        font-family: $base-font-family;
      }
    }

    /* News / Events post */

    &--iseventListing {
      @include media(">desktop") {
        //padding: 5.938rem 0 10rem;
        padding: 5.938rem 0 10rem;
      }
    }

    /* Section heading */
    &__header {

      &--small {
        /* margin-bottom: 2.313rem; */
        @include media(">smart-phone") {
          margin-bottom: 2.625rem;
        }

        @include media("<=smart-phone") {
          margin-bottom: 1.625rem;
        }

        h2 {
          margin-bottom: 0.75rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      a {
        position: relative;
        color: $color-white;
        font-style: italic;
        font-size: 1.125rem;
        line-height: 1rem;
      }
    }

    /* Component / Section content */
    &__gutter {
      &--small {
        @include media(">smart-phone") {
          margin-top: 2.313rem;
        }

        @include media("<=smart-phone") {
          margin-top: 1.313rem;
        }
      }
    }

    /* News Details post block */
    &--post {
      @include media(">ipad") {
        padding-bottom: 3.5rem;
      }

      @include media("<=ipad", "landscape") {
        padding-bottom: 3.5rem;
      }

      @include media("<=ipad", "portrait") {
        padding-bottom: 2rem;
      }
    }

    /* News Details form block */
    &--form {
      @include media(">smart-phone", "landscape") {
        padding-bottom: 6rem;
      }

      @include media("<=ipad", ">smart-phone", "portrait") {
        padding-bottom: 3rem;
      }

      @include media("<=smart-phone") {
        padding-bottom: 3rem;
      }

      /* From wrapper */
      .#{$ns}-form__wrap {
        margin: 0 auto;
        width: 100%;

        @include media(">smart-phone", "landscape") {
          max-width: 632px;
        }

        [class*="myaccount"] & {
          display: inline-block;
        }
      }

      .#{$ns}-form-row {
        [class*="myaccount"] & {
          @include media(">smart-phone", "landscape") {
            padding: 0 1.5rem 0 2.75rem;
          }

          @include media("<=ipad", ">smart-phone", "portrait") {
            padding: 0 0rem 0 1rem;
          }
        }
      }

      h3 {
        font-family: $ff-museo-500;

        [Class*="myaccount"] & {
          text-transform: none;
        }

        @include media(">ipad") {
          margin-bottom: 2.9rem;
        }

        @include media("<=ipad", "landscape") {
          margin-bottom: 2.9rem;
        }

        @include media("<=ipad", "portrait") {
          margin-bottom: 1.5rem;
        }
      }

      /* Placehoder */
      @include placeholder('.ipro-form__control', $color-palma, 1.125rem, $base-font-family, none);
    }

    /* Block inside block */
    [class="ipro-block"] {
      &:last-of-type {
        padding-bottom: 0;
      }
    }

    section[class*=-block--] {
      @include media(">smart-phone") {
        margin-top: 3rem;
      }

      @include media("<=smart-phone") {
        margin-top: 0rem;
      }
    }

    /* My account page section */
    &--loggedIn {
      &__myaccount {
        @include media(">ipad") {
          padding-bottom: 8.563rem;
        }

        @include media("<=ipad", "landscape") {
          padding-bottom: 6rem;
        }

        @include media("<=ipad", "portrait") {
          padding-bottom: 4rem;
        }
      }
    }
  }

  /* NGL contact page */
  &__contact {
    display: block;
    line-height: 1.5rem;
    /* Contact tel */
    &:not(:last-child) {
      margin-top: 0.75rem;
    }

    /* Contact mail */
    &--mail {
      .#{$ns}-link {
        &:not(:last-of-type) {
          @include media(">phone") {
            margin-right: 1.75rem;
          }

          @include media("<=phone") {
            margin-right: 1rem;
          }

          &::before {
            position: absolute;
            top: 50%;
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background: $color-white;
            transform: translateY(-50%) rotate(25deg);

            @include media(">phone") {
              right: -1.15rem;
            }

            @include media("<=phone") {
              right: -0.8rem;
              margin-top: 2px;
            }
          }
        }
      }
    }
  }

  /* Contact details meta styles */
  &-contact {
    /* Contact details col */
    &__col {
      &:not(.last-col) {
        margin-bottom: 1.5rem;
        @include media(">laptop") {
          //margin-bottom: 6.000rem;
        }

        @include media("<=laptop", ">ipad") {
          //margin-bottom: 4.500rem;
        }

        @include media("<=ipad", ">smart-phone") {
          //margin-bottom: 3.000rem;
        }
      }
      h3 {
        color: $color-anthracite;
        text-transform: $caps;
      }
    }

    /* Contact detail Meta content */
    &__meta {
      @include media(">smart-phone") {
        margin-top: 1.25rem;
      }

      @include media("<=smart-phone") {
        margin-top: 0.75rem;
      }

      > span,
      > span:first-of-type {
        margin-top: 0;

        a {
          @include media(">desktop") {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  /* NGL form rows */
  &-form {
    &-row {
      &:not(:last-of-type) {
        margin-bottom: 2.5rem;

        label {
          color: $color-palma;
          font-size: 1.125rem;
        }
      }
    }
  }

  /* News block styles */
  &-newsEvents {

    &__col {
      overflow: visible;
      transition: none;
      margin-bottom: 30px;


      @include media("<=smart-phone") {
        position: static !important;

        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
      }



      > div {

        position: relative;
        background: $color-white;
        border: 1px solid #7a7b7c;
        height: 100%;
        $color-blackish: #000000;
        //transition: all linear 0.15s;

        @include media(">smart-phone") {

          figure {
            position: relative;
            overflow: hidden;
            max-height: 335px;

            &::after {
              content: "";
              display: block;
              padding-bottom: percentage(264/370);
            }

            &::before {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: $one-index;
              opacity: 0;
              content: '';
              background: transparentize($color-storm-grey, 0.75);
              transition: all linear 0.35s;
            }

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              width: auto;
              height: 100%;
              max-width: none;
              max-height: none;
              transform: translateX(-50%) translateY(-50%) scale3d(1, 1, 1);
              transition: all ease 0.6s;

              @include media("<=desktop", ">laptop") {
                height: 310px;
              }
            }

            &:hover {

              &::before {
                opacity: 1;
              }

              img {
                transform: translateX(-50%) translateY(-50%) scale3d(1.1, 1.1, 1.1);
              }
            }
          }
        }

        @include media("<=smart-phone") {
          margin-top: 0 !important;

          figure {
            position: relative;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }
      }

      /* Events/News content */
      &-body {
        background: $color-white;
        text-align: left;

        @include media(">desktop") {
          padding: 2.05rem 2.250rem 6.313rem;
          //min-height: 308px;
        }

        @include media("<=desktop", ">ipad") {
          padding: 1.250rem 2.0rem 6.250rem;
          //min-height: 308px;
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 1.125rem 1.250rem 6.125rem;
          //min-height: 308px;
        }

        @include media(">smart-phone") {
          /*display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;*/
        }

        @include media("<=smart-phone", ">phone") {
          padding: 1.75rem 2.0rem 2rem;
        }

        @include media("<=phone") {
          padding: 0.75rem 1.0rem 1rem;
        }

        h3 {
          margin-bottom: 0.635rem;

          a{
            color: inherit;
          }
        }

        p {
          color: $color-poloBlue;
        }

        .ipro-link,
        .btn {
          align-self: flex-end;
          margin-top: 1.75rem;

          @include media('>smart-phone'){
            position: absolute;
            bottom: 30px;
          }
        }
      }

      /* Event / News col/boxes modifiers */

      /* Category modifiers */
      &--isnews {

      }

      &--isevent {

      }

      &--isrecent {

      }

      &--isnewProduct {

      }

      /* Color theme modifiers */

      &--isstromGray {
        .btn {
          background: $color-storm-grey;

          &:hover {
            background: transparent;
          }
        }
      }

      &--isgoldenRod {
        .btn {
          background: $color-darkGoldenrod;

          &:hover {
            background: transparent;
          }
        }
      }

      /* Access level modifiers */
      &--isprotected {

        > div {
          &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $one-index + 1;
            content: "";
            background: transparentize($color-storm-grey, 0.40);
          }
        }
      }
    }

    /* Events/News meta */
    &__meta {
      width: 100%;
      color: $color-springBud;

      @include media(">smart-phone") {
        margin-bottom: 1.375rem;
      }

      @include media("<=smart-phone") {
        margin-bottom: 0.55rem;
      }
    }
  }

  /* News listing filter page styles */
  &-filter {
    /* Filter controls wrapper */
    &__controls {
      position: relative;
      z-index: 9999;
    }

    /* Filter message row */
    &__messages {
      display: none;

      @include media(">smart-phone") {
        margin-top: 3rem;
      }

      @include media("<=smart-phone") {
        margin-top: 2rem;
      }

      .messages--noresult {
        font-family: $ff-museo-500;

        @include media(">smart-phone") {
          font-size: 1.5rem;
        }

        @include media("<=smart-phone") {
          font-size: 1.125rem;
        }
      }
    }
  }

  /* News details page sytles */
  &-banner {
    position: relative;

    /*  News details banner */
    @include media(">ipad") {
      padding: 3.438rem 0 3.5rem;
    }

    @include media("<=ipad", ">=smart-phone", "landscape") {
      padding: 3.438rem 0 3rem;
    }

    @include media("<=ipad", "portrait") {
      padding: 2.5rem 0 2.5rem;;
    }

    @include media("<=smart-phone") {
      padding: 2rem 0 2rem;
    }

    .#{$ns}-link {
      font-size: 1.125rem;
    }

    /* Banner title */
    h2 {
      color: $color-palma;

      &:last-child {
        margin-bottom: 0;
      }
    }

    /* Banner back to news details */
    &__link {
      &--newsDetails {
        @include media(">smart-phone") {
          position: absolute;
          margin-top: 7px;
          backface-visibility: hidden;
        }

        @include media("<=smart-phone") {
          margin-bottom: 0.5rem;
          text-align: center;
        }
      }
    }
  }

  /* News details post content styles */
  &-post {
    /* Post image */
    &__img {
      width: 100%;
    }

    /* Post body */
    &__body {
      @include media(">ipad") {
        //padding: 2.65rem 2.125rem 0rem;
        //padding: 0rem 2.125rem 0rem;
      }

      @include media("<=ipad", "landscape") {
        //padding: 2.65rem 1.5rem 0rem;
        //padding: 0rem 1.5rem 0rem;
      }

      @include media("<=ipad", "portrait") {
        //padding: 1.5rem 0rem 0rem;
        //padding: 0rem 0rem 0rem;
      }

      @include media("<=smart-phone") {
        padding-top: 20px;
      }
    }
  }

  /* NGL logged in access pages */
  &-loggedIn {
    &__row {
      @include media(">smart-phone") {
        position: relative;
        padding-top: 2.25rem;

        $color-bar: #d7d7d7;
        &::after {
          position: absolute;
          top: 0;
          left: 31%;
          content: "";
          width: 2px;
          height: 62%;
          background: {
            color: $color-bar;
          }
          background: -moz-linear-gradient(top, transparentize($color-white, 1) 0%, transparentize($color-bar, 0) 20%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparentize($color-white, 1)), color-stop(20%,transparentize($color-bar, 0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, transparentize($color-white, 1) 0%, transparentize($color-bar, 0) 20%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, transparentize($color-white, 1) 0%, transparentize($color-bar, 0) 20%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, transparentize($color-white, 1) 0%, transparentize($color-bar, 0) 20%); /* IE10+ */
          background: linear-gradient(to bottom, transparentize($color-white, 1) 0%, transparentize($color-bar, 0) 20%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr=$color-bar,GradientType=0 ); /* IE6-9 */
          transform: rotate(180deg);
        }
      }
    }
  }

  /* NGL sidebars */
  &__sidebar {
    @include media("<=smart-phone") {
      &--loggedIn {
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    &-nav {
      @include media(">smart-phone", "landscape") {
        padding: 0 2rem 0 3.5rem;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 0 1rem 0 1rem;
      }
    }
  }

  /* NGL widgets */
  &-widgets {
    /* Sidebar Nav */
    &--sidebarNav {

    }

    /* Sidebar items */
    &__item {
      &:not(:last-of-type) {
        @include media(">smart-phone") {
          margin-bottom: 0.70rem;
        }
      }

      > a {
        @include media(">smart-phone", "landscape") {
          font-size: 1.5rem;
        }

        @include media("<=ipad", ">smart-phone", "portrait") {
          font-size: 1.25rem;
        }

        @include media("<=smart-phone") {
          display: block;
          padding: 7px 10px 5px;
          border-bottom: 1px solid $color-heather;
          color: $color-palma;
          text-align: left;
          text-transform: $caps;
        }
      }

      a {
        color: $color-storm-grey;
        font-family: $ff-museo-500;
        text-transform: $uc;

      }

      &.current {
        a {
          color: $color-palma;
        }
      }

      &:last-of-type {
        a {
          border-bottom: 0;
        }
      }

      > ul {
        @include media(">smart-phone") {
          margin-top: 0.75rem;
          margin-bottom: 1rem;
        }

        @include media("<=smart-phone") {
          margin-top: 0.75rem;
          padding-bottom: 10px;
          border-bottom: 1px solid $color-heather;
        }

        li {
          > a {
            @include media(">smart-phone", "landscape") {
              font-size: 1.125rem;
            }

            @include media("<=ipad", ">smart-phone", "portrait") {
              font-size: 1rem;
            }

            @include media("<=smart-phone") {
              display: block;
              text-align: left;
            }
          }

          @include media("<=smart-phone") {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* Below smart-phone screen */
@include media("<=smart-phone") {
  ##{$ns}-filter--newsEventsListing {
    height: auto !important;
  }
}

/* Safari browser flexbox fix in contact page */
.browser-safari {
  .#{$ns}__row--contactDetails {
    .#{$ns}-flex__col {
      @include media("<=ipad", ">smart-phone") {
        width: calc(33.333333% - 1px);
      }
    }
  }
}

/* Single page */
.ipro {
  &-post__thumbnail {
    &--large {
      @include media(">smart-phone") {
        margin-right: 30px;
        margin-bottom: 15px;
        float: left;
        width: 50%;
      }
    }
  }
}


/*Product page*/

.ipro__productAction-row{
  margin-bottom: 30px;
}