
.story-path{
  max-width: 416px;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  //outline: 1px solid red;
  //width: 100%;
  width: 24%;

  //left to center
  &--lc{
    left: calc(50% + #{getRelativeRem(5)});
    transform: translateX(-100%);
  }

  //right to center
  &--rc{
    left: calc(50%);
    transform: scaleX(-1);
  }

  //center to left
  &--cl{
    left: calc(50% + #{getRelativeRem(5)});
    transform: translateX(-100%) scaleX(-1);
  }


  &--cr{
    left: calc(50% - #{getRelativeRem(5)});
    //transform: translateX(- #{getRelativeRem(6)});
    //left: calc(50% - 7px);
    //transform: translateX(-100%);
    //transform: translateX(50%);
  }

  &--top{
    top: getRelativeRem(45);
    @include media(">tablet") {
      top: getRelativeRem(78);
    }
  }

  &--btm{
    bottom: getRelativeRem(45);
    @include media(">tablet") {
      bottom: getRelativeRem(70);
    }
  }


  //main svg path
  &__l{
    visibility: hidden;
  }

}