.picto{
  &-blue{
    background-color: #037ac2;
    border: 2px solid white;
  }
  &-green{
    background-color: white;
    border:2px solid #7cca43;
  }
  &-silver{
    background-color: white;
    border:4px solid #f0f2f1;
  }
  &-light{
    background-color: white;
    border:4px solid #f1f1f3;
  }
  &-grey{
    background-color: white;
    border:4px solid #dfdfdf;
  }
}

.picto-circle{
  display: block;

  width: getRelativeRem(80);
  height: getRelativeRem(80);


  @include media(">tablet") {
    width: $pictoRadius;
    height: $pictoRadius;
  }
  border-radius: 100%;
  box-shadow: 0px 0px 16px 1px rgba(195,195,195,0.6);
  //background-color: white;
  overflow: hidden;

  img{
    max-width: none;
    width: 100%;
  }
}


.story-sep{
  transform: translateY(- getRelativeRem(40));
  @include media(">tablet") {
    transform: translateY(- $pictoRadius/2);
  }
  position: absolute;
  left: 50%;
  top:0;
  z-index: 1;


  &__icon{
    position: absolute;
    top: 0;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);


    img{
      opacity: 0;
      transform:scale(1.4);
      transition: opacity 0.6s linear, transform 0.6s ceaser($easeInOutQuad);
    }

    &.active img{
      opacity: 1;
      transform:scale(1);
    }
  }
}