.story{
  //height: calc(100vh - #{$pictoRadius/2});
  height: calc(100vh);

  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

}

#scene-6{
  z-index: 1;
}


.story-row{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  //height: calc(100% - #{(246/2)+ px});
  //height: 80%;

  //padding: getRelativeRem(118) 0 9rem 0;
  padding: getRelativeRem(60) 0;

  @include media("<=tablet") {
    flex-direction: column;
    //padding: getRelativeRem(120) getRelativeRem(40)
    padding: 40px 20px;
  }
}
.story-col{
  //$lgWidth: percentage(1116/1920);
  $lgWidth: percentage(1100/1920);

  display: flex;
  justify-content: center;

  @include media(">tablet") {
    width: 50%;
  }

  &--sm{
    @include media(">tablet") {
      width: 100% - $lgWidth;
    }
  }

  &--lg{

    @include media(">tablet") {
      width: $lgWidth;
    }

  }

  $lgWidthX: percentage(1222/1920);
  &--smx{
    @include media(">tablet") {
      width: 100% - $lgWidthX;
    }
  }
  &--lgx{
    @include media(">tablet") {
      width: $lgWidthX;
    }
  }

  @include media("<=tablet") {
    order: 2;
  }

  &--order-first{
    @include media("<=tablet") {
      order: 1;
    }
  }


}

.story-row{
  .story-col{
    transition: opacity 0.6s linear;//, transform 0.6s ceaser($easeInOutCubic);
    &:nth-child(2n){
      transition-delay: 0.1s;
    }
  }

  &--disablex .story-col {
    //transform: translateY(-10px);
    //opacity: 0.2;
  }
  &.active .story-col {
    //transform: translateY(0);
    opacity: 1;
  }
}

.story-full-w{
  position: absolute !important;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
}



.flex-align-left{
  justify-content: flex-start;
}

.story-col-txt{
  position: relative;
  z-index: 1;

  max-width: 490px;
  text-align: center;


  &, h2 {
    line-height: normal;
  }

  &__i-lg{
    @include media(">tablet") {
      width: 120%;
    }
  }

  @include media(">tablet") {

    padding: 20px;
    text-align: left;
  }
}

//animation text
.story-ani{
  &__i{
    transition:color 0.6s linear, opacity 0.6s linear, transform 0.6s ceaser($easeInOutCubic);
    @for $i from 2 through 6{
      &:nth-child(#{$i}){
        transition-delay: (0.05 * $i) + s;
        opacity: (0.4 - ($i * 0.2));
        transform: translateY((30 + 5 * $i) + px);
      }
    }
  }



  &.active &__i{
    transform: translateY(0);
    opacity: 1;
  }

  &.active h2{
    color:#efefef;
  }

  &.active h2.txt-dark{
    color: #6d6e71;
  }






}


/*

//hack
#scene-1 .story-row{
  @include media(">tablet") {
    padding-bottom: 12rem;
  }
}
#scene-4 {
  .story-slides{
    @include media(">tablet") {
      transform: translateX(percentage(22/600));
    }
  }

  .story-row {
    @include media(">tablet") {
      padding-bottom: 12rem;
    }
  }
}
#scene-5 {
  .story-slides{
    @include media(">tablet") {
      //transform: translateX(percentage(22/600));
    }
  }

  .story-row {
    @include media(">tablet") {
      //padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }
}
*/

