.story-slides{
  position: relative;
  /*
  @include media(">tablet") {
    height: 100%;
  }
  */
  &__i{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    max-width: none;
    height: auto;
    width: 100%;

    @include media(">tablet") {
      //height: 100%;
      //width: auto;
    }

    transition: transform 0.6s ceaser($easeInOutCubic), opacity 0.6s linear;
    transform: scale(0.9) translateY(0);

    &:first-child{
      position: static;
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  &.active &__i{
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  #scene-3 &.active &__i:first-child{
    opacity: 0;
  }

}