.story-map-slides{
  position: relative;
  &__i{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-30px);

    &:first-child{
      opacity: 1;
      position: static;
      transform: translateY(0);
    }
    &:nth-child(2n){
      transform: translateY(0);
    }

  }
}