.txt{
  &-dark{
    color: #222a32;
  }

  &-xl{
    font-size: getRelativeRem(26);

    @include media(">tablet", "<=widescreen") {
      font-size: getRelativeRem(36);
    }

    @include media(">widescreen") {
      font-size: getRelativeRem(50);
    }

  }
}