@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i4oing');
  src:  url('fonts/icomoon.eot?i4oing#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i4oing') format('truetype'),
    url('fonts/icomoon.woff?i4oing') format('woff'),
    url('fonts/icomoon.svg?i4oing#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-idea:before {
  content: "\e920";
}
.icon-flask:before {
  content: "\e921";
}
