
.form-gap{
  @include media('>smart-phone') {
    margin-bottom: 8px;
  }

  @include media('<smart-phone') {
    [class*="col-"] {
      margin-bottom: 8px !important;
    }
  }

}


.ipro-block--contactForm-new{
  .ipro-form__wrap{
    max-width: 800px;
    background: $color-white;
    padding: 15px;

    @include media('>phone') {
      padding: 0 50px;
    }
  }
}