
.section-featured-cols{
  margin-bottom: 0;
  @include media('<767px'){
    display: none;
  }

  .row{
    margin: 0;

    > [class*= col-]{
      padding: 0;
  }
  }
}


.featured-img{
  position: relative;

  &:before{
    padding-top: 100%;
  }

  &:after{
    content:'';
    @include absolute-align(0, 0, 0, 0);

    background: rgba($color-black, 0.6);
    z-index: 1;
  }

  .featured-title{
    @include absolute-align(50%, null, null, 50%);
    color: $color-white;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    z-index: 2;
  }
}


$feat-overlay: featured-overlay;
.#{$feat-overlay}{
  @include absolute-align(0, 0, 0, 0);
  background: rgba($color-primary, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  z-index: 2;

  @include transition(all 0.6s ease);

  @at-root .featured-img:hover {
    .#{$feat-overlay}{
      opacity: 1;
      visibility: visible;
    }
  }

  .ipro__list--iseditor{
    margin-top: 0;

    li{
      &:before{
        background-color: $color-white;
      }
    }

    a{
      color: $color-white;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

