


.newsletter-form{
  padding-top: 40px;
  label{
    display: block;
  }

}


#submit{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
}




input+label:not(.error){
  padding-left: 1.8em;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  color: #36414b !important;
  background: $color-white;
}


.txt, #captchaDiv input, #captchaDiv-1 input{
  display: block;
  padding: 0 15px;
  height: 60px;
  width: 100%;
    line-height: 1rem;
  color: #36414b;
  border: 1px solid #adadaf;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

textarea.txt{
  height: auto;
  padding-top: 15px;
}

input[readonly]{
  background: #ccc;
  cursor: default;
}