
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height,visibility;
  -o-transition-property: height,visibility;
  transition-property: height,visibility;
}

.ipro-productTable{
  text-align: left;
  .collapse{
    display: none;

    &.in{
      display: block;
    }
  }

  .ipro-table__cell--3, .ipro-table__cell--9{
    width: auto;
  }

  .ipro-picto--pdf{
    margin: 0;
  }



  [data-toggle="collapse"]{
    position: relative;
    display: block;
    padding-right: 20px;


    &::before{
      border-style: solid;
      border-width: 4px 4px 0 0;
      content: '';
      display: inline-block;
      height: 15px;
      right: 0;
      position: absolute;
      vertical-align: top;
      width: 15px;

      top: 0;
      transform: rotate(135deg);
      transition: transform 0.3s ease;
    }

    &[aria-expanded="true"]{
      &::before{
        transform: rotate(-45deg);
        top: 5px;
        @include media('>ipad') {
          top: 10px;
        }
      }
    }
  }

}


.ipro-subTable{
  text-align: left;
  margin-top: 10px;

  .ipro__list{
    justify-content: left;
  }

  .ipro-picto--pdf{
    @include media('<smart-phone'){
      position: absolute;
    }
  }

  .ipro__list--lang{
    @include media('<smart-phone') {
      padding-left: 30px;
    }
  }
}


