

.section-news{
  .title{
    margin-bottom: getRelativeRem(50);
  }

  .news-post{
    border: 1px solid $color-gray;
  }

  .content{
    padding: getRelativeRem(30);
  }

  .news-date{
    margin-bottom: 20px;

    a{
      color: $color-darkGoldenrod;
    }
  }
  
  .btn-wrap{
    .btn{
      text-transform: inherit;
    }
  }
}