
.section-testimonial{
  figure{
    display: block;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 200px;
  }

  .quote{
    margin-bottom: 30px;
  }

  .bg-white{
    background: $color-white;
  }

  .bg-gray{
    background: $color-whiteSmoke;
  }
}