
.section-three-col{
  .title{
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .img{
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .heading{
    text-transform: uppercase;
  }

  .btn{
    margin-top: 50px;
  }
}