
.section-promo{
  background: rgba(122, 123, 125, 1);
  padding: 80px 0;
  color: $color-white;

  .icon-holder{
    margin-top: 50px;
     img{
      display: block;
       margin: auto;
      @include media('>smart-phone') {
        display: inline-block;
        margin: inherit;
      }
     }

    > a{
      &:not(:last-of-type){
        img{
          margin-bottom: 15px;
          @include media('>smart-phone'){
            margin-right: 100px;
            margin-bottom: 0;
          }
        }

      }
    }

      img {
        &:not(:last-of-type) {
          margin-bottom: 15px;
          @include media('>smart-phone') {
            margin-right: 100px;
            margin-bottom: 0;
          }
        }
      }


  }
}