
.static-banner{
  @include aspect-ratio(16, 9);
  max-height: getRelativeRem(600);

  @include media('<=smart-phone') {
    padding-bottom: 80px;
  }

  @include media('<=smart-phone') {
    min-height: 300px;
    background-position: 0 0;
  }

  &:after{
    content:'';
    @include absolute-align(0, 0, 0, 0);
    background: rgba($color-black, 0.3);

  }

  > .container {
    @include absolute-align(50%, null, null, 50%);
    text-align: left;
    z-index: 2;

    @include media('<=smart-phone') {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: none;
      padding: 40px 15px;
    }
  }

  .content{
    color: $color-white;
    @include media('>smart-phone') {
      max-width: 50%;
    }
    @include media('>=laptop') {
      max-width: 60%;
    }
  }

  .buttons-wrap{
    @include absolute-align(50%, 0, null, auto);
    z-index: 2;

    @include media('<=smart-phone'){
      top: auto;
      bottom: 0;
      width: 100%;
      display: flex;
      transform: none;
    }

    .button-list{
      &:not(:last-child){
        @include media('>smart-phone') {
          margin-bottom: getRelativeRem(20);
        }
      }

      @include media('<=smart-phone'){
        width: 50%;
      }
      a{
        background: rgba(122, 123, 125, 1);
        display: flex;
        color: $color-white;
        align-items: center;
        padding: 12px 20px;
        /*text-transform: uppercase;
        min-width: getRelativeRem(360);
        font-weight: 600;
        font-size: 0.938rem;
        font-family: Arial;*/

        @include media('<=smart-phone'){
          min-width: auto;
        }

        @include media('<=phone'){
          font-size: 12px;
          padding-left: 10px;
          padding-right: 10px;
        }

        @include media('<=360px'){
          font-size: 11px;
          padding-left: 4px;
          padding-right: 4px;
        }

        figure{
          width: 50px;
          height: 50px;
          border: 1px solid $color-white;
          border-radius: 50%;
          text-align: center;
          position: relative;
          margin-right: 20px;

          @include media('<=phone'){
            font-size: 16px;
            width: 30px;
            height: 30px;
            line-height: 1.7;
            margin-right: 5px;
          }

          img{
            max-width: 28px;
            max-height: 28px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media('<=phone'){
              max-width: 16px;
              max-height: 16px;
            }
          }
        }

        &:hover{
          //background: $color-primary;
        }
      }
    }
  }
}