
/*
@usage:
@include aspect-ratio(16, 9);
@include aspect-ratio(4, 3);
...
*/


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}