
@mixin absolute-align( $top: null, $right: null, $bottom: null, $left: null){
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  position: absolute;
  z-index: 1;

  @if $top == 50% and $left == auto  {
    transform: translateY(-50%);
  }

  @if $top == auto and $left == 50%  {
    transform: translateX(-50%);
  }

  @if $top == 50% and $left == 50% {
    transform: translate(-50%, -50%);
  }
}