/*
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f3zm6i');
  src:  url('../fonts/icomoon.eot?f3zm6i#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?f3zm6i') format('truetype'),
  url('../fonts/icomoon.woff?f3zm6i') format('woff'),
  url('../fonts/icomoon.svg?f3zm6i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'Frutiger';
  src: url('../fonts-app/hinted-Frutiger-Roman.eot');
  src: url('../fonts-app/hinted-Frutiger-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts-app/hinted-Frutiger-Roman.woff2') format('woff2'),
  url('../fonts-app/hinted-Frutiger-Roman.woff') format('woff'),
  url('../fonts-app/hinted-Frutiger-Roman.ttf') format('truetype'),
  url('../fonts-app/hinted-Frutiger-Roman.svg#Frutiger-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts-app/hinted-TrajanPro-Bold.eot');
  src: url('../fonts-app/hinted-TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts-app/hinted-TrajanPro-Bold.woff2') format('woff2'),
  url('../fonts-app/hinted-TrajanPro-Bold.woff') format('woff'),
  url('../fonts-app/hinted-TrajanPro-Bold.ttf') format('truetype'),
  url('../fonts-app/hinted-TrajanPro-Bold.svg#TrajanPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts-app/hinted-TrajanPro-Regular.eot');
  src: url('../fonts-app/hinted-TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts-app/hinted-TrajanPro-Regular.woff2') format('woff2'),
  url('../fonts-app/hinted-TrajanPro-Regular.woff') format('woff'),
  url('../fonts-app/hinted-TrajanPro-Regular.ttf') format('truetype'),
  url('../fonts-app/hinted-TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}