/// colors black & white
/// @example scss - Usage
///   .my-class {
///     background: black(0.15);
///     color: white(0.9);
///   }
@function black($opacity){
  @return rgba(black, $opacity);
}

@function white($opacity){
  @return rgba(white, $opacity);
}







/**
return rem with respect to base
**/
@function getRelativeRem($fontSize){
  @return ($fontSize/18) * 1rem;
  //@return ($fontSize/16)+rem; //yields string
  //https://www.sitepoint.com/understanding-sass-units/
  //return @to-number($fontSize/16)+rem);

}

//@function convertToRem($fontSize, $baseSize:18){
@function convertToRem($fontSize, $baseSize:20){
  @return (strip-units($fontSize)/$baseSize)+rem;
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

/*
//fix bootstrap ceil problem
// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  (($gutter / -2));
  margin-right: (($gutter / -2));
  @include clearfix;
}
*/