html {
  box-sizing: border-box;
}
/*
*, *:before, *:after {
  box-sizing: inherit;
}

* {max-height: 1000000px;}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}
*/
// google map fix
.gm-style img {max-width: none}

// hide tel links on desktop
@media only screen and (min-width:1025px) {
    a[href^=tel],a[href^=skype], a[href^=sms] {
    cursor:default;
    pointer-events:none;
  }
}

a,
a:hover, a:active, a:focus,
object, embed,
input::-moz-focus-inner{
   outline: 0;
}

a {
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
        outline: none;
        outline-offset: 0;
    }
}

/*
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
*/


