/*
html{
  //font-size: $font-size-base;
  font-size:12px;

  @include media('>tablet',"<=widescreen"){
    font-size:12px;
  }

  @include media('>desktop'){
    font-size: $font-size-base;
  }
}
*/


html{
  //font-size: $font-size-base;
  font-size:12px;

  @include media('>tablet',"<=widescreen"){
    font-size:14px;
  }

  @include media('>widescreen'){
    font-size: $font-size-base;
  }
}



html,body{
  overflow-x: hidden;
}

@include media("<tablet") {
  .freezeScroll {
    overflow-y: hidden;
  }
}

button:focus,
textarea:focus, input:focus{
  outline: none;
}

::-moz-selection { background: $red; color: $white; }
::selection { background: $red; color: $white; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $d-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $d-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $d-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $d-grey;
}


body{
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: antialiased;
}

//normalize headers
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  margin-top: 0;
}

//h1 is way bigger for mobile
.bold{
  font-weight: bold;
}
h1,.h1{
  //font-weight: bold;
  @include media("<tablet") {
    font-size: $font-size-h2 * 1.2;
  }
}

a{
  cursor: pointer;
}

.h4, h4{
  font-family: $font-family-sans-serif;
  margin-bottom: getRelativeRem(20);
  text-transform: uppercase;
}

p{
  margin-bottom: getRelativeRem(25);
  line-height: 1.5;
}



/**
http://jessica-eldredge.com/2014/01/26/headings-with-lines/
**/

.text-line{
  display: block;
  //margin-bottom: 41px;
  margin-bottom: 10px;
  text-align: center;
  &:after{
    content: '';
    display: block;
    width: 55px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    @include media(">=tablet"){
      margin-top: getRelativeRem(25);
    }
    //background-color: #dddddd;
    background-color: #4c3029;
  }
}

.header{
  &-brown{
    color: #4c3029;
  }
  &-underline{
    @extend .h3;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 14px;
    margin-bottom: 22px;
  }
  &-special{
    @extend .h3;

    margin-top: getRelativeRem(34);
    margin-bottom: getRelativeRem(34);

    @include media(">=tablet"){
      margin-bottom: getRelativeRem(74);//$gap;
    }


    &--sm{
      margin-bottom: getRelativeRem(52);
    }


    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    //justify-content: center;
    &:before,
    &:after{
      content: '\a0';
      flex-grow: 1;
      background-color: #353535;
      height:1px;
    }
    &:before{
      //margin-right: getRelativeRem(40);
      margin-right: getRelativeRem(36);
      padding-right: getRelativeRem(40);
    }
    &:after{
      //margin-left: getRelativeRem(40);
      margin-left: getRelativeRem(36);
      padding-left: getRelativeRem(40);
    }
  }
}

