$breakpoints: (
        'xs-phone': 400px,    /* Custom, iPhone Retina */
        'phone': 600px,   /* Extra Small Devices, Phones */
        'tablet': 768px,  /* Small Devices, Tablets */
        'md-tablet': 960px,
        'desktop': 1024px,
        'extra-break' : 1100px,
        'widescreen': 1200px, //1280  //laptop    /* Large Devices, Wide Screens */
        'widescreen-1': 1450px, //1280  //set to > for larger screens
        'widescreen-2': 1650px
);

// variables

//$container-xlarge: 1484px;
//$container-xlarge: (1484 + 30) + px;
$container-xlarge: 1514px;
$container-normal: 1108px;

$gray-dark: #2d2019;

$brand-primary: #916028;

$brand-danger: #d2232a;



$font-main: 'Frutiger';
$font-secondary: 'Trajan Pro';


$font-family-sans-serif: 'Frutiger';
$font-family-serif:'Trajan Pro';
$headings-font-family: $font-family-serif;
$font-size-h1:            getRelativeRem(52);
$font-size-h2:            getRelativeRem(28);
$font-size-h3:            getRelativeRem(24);
$font-size-h4:            getRelativeRem(16);

//$headings-font-weight:    bold !default;


$breadcrumb-separator:          ">";
$breadcrumb-padding-vertical:   15px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-active-color:       #999999;
$breadcrumb-bg: transparent;


$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;


$input-border: #eeeeee;
$input-color: #4c3029;
$input-border-focus: $brand-primary;
//$input-height-base:


//app specific
$gap-lg: getRelativeRem(118);
$gap: getRelativeRem(100);
$gap-sm: getRelativeRem(60);



$main-color: #916028;
$sec-color: #2d2019;
$black: #000;
$white: #fff;
$grey: #999999;
$d-grey: #666666;
$red: #d2232a;
$red-sec: #e0656a;

$upcase: uppercase;

$font-size-base: 16px;
