
#ipro-masthead {
	&.scroll-enabled {
  		position: absolute;
	}

}

.reverse{
  transform: scale(-1);
}

//temp
.concept__picture--second:not(.active),
.concept__picture--first:not(.active){
  visibility: visible;
}


@import "story/section";
@import "story/typo";
@import "story/picto";
@import "story/path";
@import "story/slides";
@import "story/slides-map";
