/* Defining style rules for contact 7 form elements */
$wf: 'wpcf7';
.#{$wf} {
	/* Form control */
	.btn {
		&:not(.fancy-fileinput-btn) {
			padding: 1.625rem 1.25rem;
		}
		.#{$wf}-form {
			&-control {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: transparent;
				border: 0;
				outline: 0;
				font-size: 1.125rem;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.ajax-loader {
			position: absolute;
			top: 50%;
			right: -50px;
			transform: translateY(-50%);
		}
	}

	.#{$wf} {
		/* Error field */
		&-not-valid-tip {
			margin-top: 0.375rem;
			font-size: 0.875rem;
			font-style: italic;
			text-align: left;
		}

		&-mail-sent-ok {
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 0;
			padding: 1rem 1.5rem;
			border-color: $color-darkGoldenrod;
			color: $color-darkGoldenrod;
			font-size: 0.875rem;
			font-style: italic;
			text-align: center;
		}

		/* Error messages */
		&-validation {
			&-errors,
			&-success {
				margin-right: 0;
				margin-left: 0;
				margin-bottom: 0;
				padding: 1rem 1.5rem;
				color: $color-error;
				font-size: 0.875rem;
				font-style: italic;
				text-align: center;
			}

			&-errors {
				border-color: $color-error;
			}

			&-success {
				border-color: $color-darkGoldenrod;
			}
		}

		&-form {
			&-control {
				&-wrap {
					select {
						width: 100%;
					}
				}
			}
		}
	}
}