$cp: 'concept';
.#{$cp} {
    &-block {
        //height: 200vh;
        .ipro-block__row {
            // position: fixed;
            // top: 0;
            // right: 0;
            // left: 0;
        }
    }
}

.#{$ns} {
    &-block {
        .concept__picto {
            position: absolute;
            top: 0;
            right: 0;
            left: 50%;
            //opacity: 0;
            pointer-events: none;
            content: "";
            background: {
                repeat: no-repeat;
            };
            height: 142px;
            width: 142px;
            transform: translateX(-50%) translateY(-50%);
            transition: all ease 0.35s;
            &.active {
                opacity: 1;
                pointer-events: auto;
            }
        }
        &--cleaning-problem {
            //height: 200vh;
            .ipro-block__row {
                padding: 7.500rem 0 10.313rem;
            }
            //z-index: 1;
            .concept__picto {
                background: {
                    image: url(../images/concept/concept-help-icon.png);
                }
                ;
            }
        }
        &--concept-support {
            .ipro-block__row {
                padding: 18.375rem 0 6.875rem;
            }
            .concept__picto {
                background: {
                    image: url(../images/concept/concept-nglcenter-icon.png);
                }
                ;
            }
        }
        &--bath-control {
            .ipro-block__row {
                padding: 4.688rem 0 8.125rem;
            }
            .concept__picto {
                background: {
                    image: url(../images/concept/concept-residual-water-icon.png);
                }
                ;
            }
        }
        &--residual-water {
            .ipro-block__row {
                padding: 10.313rem 0 14.375rem;
            }
            .concept__picto {
                height: 144px;
                width: 144px;
                background: {
                    image: url(../images/concept/concept-idea-icon.png);
                }
                ;
            }
        }
        &--enrich-idea {
            .ipro-block__row {
                padding: 14.063rem 0 10.00rem;
            }
            z-index: 1;
            .concept__picto {
                background: {
                    image: url(../images/concept/concept-nglacademy-icon.png);
                }
                ;
            }
            .concept__picto--bottom {
                position: absolute;
                top: auto;
                right: 0;
                bottom: 0;
                left: 50%;
                content: "";
                background: {
                    image: url(../images/concept/concept-approved-icon.png);
                    repeat: no-repeat;
                }
                ;
                height: 142px;
                width: 142px;
                transform: translateX(-50%) translateY(50%);
            }
        }
        &.inview .#{$ns}-block__row {
            position: fixed;
            top: 156px;
            width: 100%;
            height: 100%;
        }
    }
}

.#{$cp} {
    &-block {
        &[data-theme="no-default"] {
            h2 {
                color: $color-anthracite;
            }
        }
        &--full {
            .#{$ns}-block__content {
                @include media(">1855px") {
                    margin-right: -47px;
                    margin-left: -47px;
                }
                @include media("<=1855px", ">smart-phone") {
                    margin-right: -15px;
                    margin-left: -15px;
                }
                @include media("<=smart-phone") {
                    .concept-col__image {
                        margin-right: -15px;
                        margin-left: -15px;
                        width: auto;
                    }
                }
            }
        }
        &:not(.#{$cp}-block--is-inverted) {
            .#{$cp}-flex {
                >[data-order="1"] {
                    order: 1;
                    text-align: left;
                    >div {
                        margin-right: 0;
                        margin-left: auto;
                    }
                }
                >[data-order="2"] {
                    order: 2;
                    text-align: right;
                }
            }
        }
        &.#{$cp}-block--is-inverted {
            .#{$cp}-flex {
                >[data-order="1"] {
                    order: 2;
                    text-align: left;
                    >div {
                        margin-right: auto;
                        margin-left: 0;
                    }
                }
                >[data-order="2"] {
                    order: 1;
                    text-align: left;
                }
            }
        }
    }
    &__container {
        margin: 0 auto;
        padding: 0 15px;
        &--md {
            max-width: 1380px;
        }
        &--lg {
            max-width: 1855px;
        }
    }
    &-flex {
        @include media(">smart-phone") {
            display: flex;
            flex-direction: row;
            &--vc {
                align-items: center;
            }
        }
    }
    &-col {
        &__text {
            @include media(">smart-phone") {
                width: 38.25%;
            }
            >div {
                max-width: 455px;
            }
        }
        &__image {
            @include media(">smart-phone") {
                width: 61%;
            }
        }
        &__content {
            h2 {
                //color: $color-anthracite;
                @include media(">desktop") {
                    font-size: 2.60rem;
                    line-height: 3rem;
                    &:not(:last-child) {
                        margin-bottom: 1.875rem;
                    }
                }
            }
        }
    }
    &__picture {
        transition: opacity 0.3s ease, visiblity 0.3s linear;
        &--second:not(.active),
        &--first:not(.active) {
            position: absolute;
            top: 0;
            //right: 0;
            bottom: 0;
            //left: 0;
            opacity: 0;
            pointer-events: none;
            //display: none;
            visibility: hidden;
            //transform: translateX(40px);
        }
        .active {
            opacity: 1;
            pointer-events: auto;
            //transform: translateX(0px);   
        }
    }
}

.gutter {
    &40 {
        margin-right: -20px;
        margin-left: -20px;
        >[class*="col-"] {
            padding: 0rem 20px;
        }
    }
}

[data-bgk-color="green"] {
    background: {
        color: $color-vert;
    }
    ;
}

[data-bgk-color="white"] {
    background: {
        color: $color-white;
    }
    ;
}