/* Defining style rules for form elements */

.#{$ns} {
  &-form {

    /* Flex box form wrapper */
    &--flex,
    &__inline {
      @include media(">smart-phone") {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        //align-items: center;       
      }

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }

    &__inline {
      .#{$ns}-form__group {
        padding: 0 0;

        @include media(">smart-phone") {
          width: 49.75%;

          &:not(:last-of-type) {
            margin-right: 0.5rem;
          }
        }

        @include media("<=smart-phone") {
          &:not(:last-of-type) {
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    /* From control list group */

    &__group {
      //margin-bottom: 0.750rem;

      /* Not inline form fields */
      &:not(.ipro-form__group--inline):not(:last-of-type) {
        /* Applying bottom margin expect to the last one */
          margin-bottom: 0.750rem;
      }

      /* Inline form fields */
      &--inline {

      }

      /* News details page form */
      .#{$ns}-block--form & {
        &:not(.ipro-form__group--inline):not(:last-of-type) {
          margin-bottom: 0.5rem;
        }
      }

      /* Form group action */
      &--action {
        margin-bottom: 0 !important;
        @include media(">smart-phone") {
          margin-top: 2.45rem;
        }

        @include media("<=smart-phone") {
          margin-top: 1.5rem;
        }
      }

      /* checkbox */
      &--checkbox {
        margin-top: 1rem;
        display: flex;

        > label[for='newsletter-signup']{
          margin-right: 1.5rem;
        }

        .ipro__utilities--form{
          display: flex;
        }

        .ipro-form__group--custom{
          margin-right: 1rem;
        }
      }
    }

    textarea {
      min-height: 160px;
    }

    /* From controls */
    &__control {
      .#{$ns}-bar & {
        display: block;
        padding: 11px 20px 11px;
        width: 100%;
        border: 0;
        background: $color-azure;
        color: $color-storm-grey;
        font-size: 0.875rem;
        text-transform: $lc;
        line-height: 1rem;
        font-family: "Roboto Rg";

        /* Rounded shapes */

        &--round {
          border-radius: 1.125rem;
        }

        /* Submit control */
        &--submit {
          text-transform: none;
        }
      }

      /* common control fields */
      display: block;
      padding: 1.15rem 15px 1.10rem;
      width: 100%;
      border: 1px solid $color-russianBlack;
      line-height: 1rem;
      color: $color-palma;
    }

    /* Form action buttons */
    &__action {
      &--medium {
        width: 100%;

        @include media("<=lg-widescreen") {
          max-width: 250px;
        }

        @include media(">lg-widescreen") {
          max-width: 250px;          
        }
      }

      &--small {
        width: 100%;

        @include media("<=lg-widescreen", ">ipad") {
          max-width: 140px;
        }

        @include media("<=ipad", ">smart-phone") {
          max-width: 110px;
        }

        @include media(">lg-widescreen") {
          max-width: 150px;          
        }
      }
    }

    /* Form custom/fancy selectbox/dropdown */
    &__dropdown {
      /* Primary select dropdown */
      &--primary {
        &.select2-dropdown {
          .select2-container & {
            border-radius: 0;
            border-top: 0;
            border-color: $color-russianBlack !important;
          }
        }

        .select2-search {
          &--dropdown {
            .select2-search__field {
              .select2-container & {
                padding: 12px 15px;
                border-color: $color-russianBlack !important;
                color: $color-palma;
              }
            }
          }
        }

        .select2-results__option {
          padding: 10px 15px;
          color: $color-palma !important;

          &:not(:last-of-type) {
            border-bottom: 1px solid $color-heather;
          }
        }
        .select2-results__option--highlighted,
        .select2-results__option[aria-selected='true'],
        .select2-results__option--highlighted[aria-selected] {
          background: $color-darkGoldenrod !important;
          color: $color-white !important;
        }
      }
    }

    .select2-selection .select2-selection__rendered {
      color: $color-palma !important;
      background: $color-white;
    }
  }
}