/* Defining style rules for filter block in news/event filter page */

.#{$ns} {
	&-filter {

		/* Filter controls */
		&__controls {

			/* Filter controls label */
			label {
				font-size: 1.125rem;
			}
		}
	}

	/* Flex form */
	&-form--flex {

	}

	/* Flex form gorup */
	&-form {
		&__group {

			/* Inline groups */
			&--inline {
				//padding: 0 1.500rem;
				padding: 0 1.938rem;
			}
		}
	}
}

.protected-news-message {
	position: absolute;
	top: 50%;
	z-index: 3;
	margin-top: 65px;
	padding: 15px 15px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: #ffffff;
	transform: translate3d(0, -50%, 0);

	a{
		color: #ffffff;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}
}

.ipro-flex.ipro-filter--newsEventsListing{
	justify-content: left;
}
