@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3gx77l');
  src:  url('fonts/icomoon.eot?3gx77l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3gx77l') format('truetype'),
    url('fonts/icomoon.woff?3gx77l') format('woff'),
    url('fonts/icomoon.svg?3gx77l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contact:before {
  content: "\e900";
}
.icon-contact-us:before {
  content: "\e901";
}
.icon-envolpe:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-my-account:before {
  content: "\e904";
}
.icon-rqst-offer:before {
  content: "\e905";
}

