.show{
  display: block !important;
}
.hide{
  display: none !important;
}

.invisible{
  visibility: hidden !important;
}

.ipro__list--iseditor{
  clear: both;
}

.list-unstyled {
  li{
    list-style: none !important;
    padding: 0;
  }
}

.list-inline {
  li{
    list-style: none;
    display: inline-block;
  }
}

.bg-cover{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:after{
    content:'';
    display: block;
    @include absolute-align(0, 0, 0, 0);
    background: rgba($color-black, 0.3);
  }
}


.as-ratio-1-1{
  @include aspect-ratio(1, 1);
}
.as-ratio-4-3{
  @include aspect-ratio(4, 3);
}
.as-ratio-16-9{
  @include aspect-ratio(16, 9);
}

.equal-height{
  > [class*="col-"]{
    margin-bottom: 30px;
  }
}

.section{
  margin: 80px 0;
}

.form-group{
  margin-bottom: 15px;
}
