body {
    margin: 0;
    text-align:center
}

form {
    margin: auto;
    width: 314px;
    font-size: 10pt;
    font-family: 'trebuchet ms', verdana, arial;
}

label {
    width: 314px;
    font-weight: bold;
}

input {
    width: 300px;
    padding: 5px;
    background-color: rgb(255, 255, 204);
}

button {
    width: 314px;
    padding: 15px;
    cursor: pointer;
    background: #3baae3;
    color: whitesmoke;
    font-weight: bold;
    border: none;
}

p {
    width: 314px;
}

.graph {
    width:100%;
    margin: -79px 0px 0px 0px;
    background:#eeeeee;
    border:1px #cbcbcb solid;
}

.iframe {
    width:100%;
    height:1000px;
    border-bottom:1px #cbcbcb solid;
}

.info {
    font-size: 10pt;
    font-family: 'trebuchet ms', verdana, arial;
    padding-bottom: 10px;
}