/* --------------------------------------------------------------------------------------- */

/* **************************** Importing Custom Font Families *************************** */

/* --------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v4fbnf');
  src:  url('../fonts/icomoon.eot?v4fbnf#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?v4fbnf') format('truetype'),
  url('../fonts/icomoon.woff?v4fbnf') format('woff'),
  url('../fonts/icomoon.svg?v4fbnf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 1rem;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-center .path1:before {
  content: "\e90e";
  color: rgb(122, 123, 125);
}
.icon-app-center .path2:before {
  content: "\e90f";
  margin-left: -1.337890625em;
  color: rgb(123, 192, 67);
}
.icon-app-center .path3:before {
  content: "\e910";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path4:before {
  content: "\e911";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path5:before {
  content: "\e912";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path6:before {
  content: "\e913";
  margin-left: -1.337890625em;
  color: rgb(123, 192, 67);
}
.icon-app-center .path7:before {
  content: "\e914";
  margin-left: -1.337890625em;
  color: rgb(123, 192, 67);
}
.icon-app-center .path8:before {
  content: "\e915";
  margin-left: -1.337890625em;
  color: rgb(123, 192, 67);
}
.icon-app-center .path9:before {
  content: "\e916";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path10:before {
  content: "\e917";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path11:before {
  content: "\e918";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path12:before {
  content: "\e919";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path13:before {
  content: "\e91a";
  margin-left: -1.337890625em;
  color: rgb(123, 192, 67);
}
.icon-app-center .path14:before {
  content: "\e91b";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path15:before {
  content: "\e91c";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path16:before {
  content: "\e91d";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path17:before {
  content: "\e91e";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path18:before {
  content: "\e91f";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path19:before {
  content: "\e920";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path20:before {
  content: "\e921";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path21:before {
  content: "\e922";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-app-center .path22:before {
  content: "\e923";
  margin-left: -1.337890625em;
  color: rgb(123, 192, 67);
}
.icon-app-center .path23:before {
  content: "\e924";
  margin-left: -1.337890625em;
  color: rgb(123, 192, 67);
}
.icon-app-center .path24:before {
  content: "\e925";
  margin-left: -1.337890625em;
  color: rgb(122, 123, 125);
}
.icon-commander:before {
  content: "\e926";
}
.icon-ngl-academy .path1:before {
  content: "\e927";
  color: rgb(122, 123, 125);
}
.icon-ngl-academy .path2:before {
  content: "\e928";
  margin-left: -1.203125em;
  color: rgb(122, 123, 125);
}
.icon-ngl-academy .path3:before {
  content: "\e929";
  margin-left: -1.203125em;
  color: rgb(122, 123, 125);
}
.icon-ngl-academy .path4:before {
  content: "\e92a";
  margin-left: -1.203125em;
  color: rgb(122, 123, 125);
}
.icon-ngl-academy .path5:before {
  content: "\e92b";
  margin-left: -1.203125em;
  color: rgb(122, 123, 125);
}
.icon-ngl-academy .path6:before {
  content: "\e92c";
  margin-left: -1.203125em;
  color: rgb(122, 123, 125);
}
.icon-ngl-academy .path7:before {
  content: "\e92d";
  margin-left: -1.203125em;
  color: rgb(122, 123, 125);
}
.icon-ngl-academy .path8:before {
  content: "\e92e";
  margin-left: -1.203125em;
  color: rgb(119, 188, 31);
}
.icon-ngl-academy .path9:before {
  content: "\e92f";
  margin-left: -1.203125em;
  color: rgb(123, 192, 67);
}
.icon-ngl-academy .path10:before {
  content: "\e930";
  margin-left: -1.203125em;
  color: rgb(122, 123, 125);
}
.icon-checkbox-tick:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e901";
}
.icon-contact-us:before {
  content: "\e902";
}
.icon-envolpe:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-map-pin:before {
  content: "\e908";
}
.icon-my-account:before {
  content: "\e909";
}
.icon-pinterest:before {
  content: "\e90a";
}
.icon-rqst-offer:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}

/* Absolute positioning icons */

.icon {
  &-abs {
    position: absolute;
    z-index: 2;
    transition: all linear 0.35s;

    &--mid {
      top: 50%;
      left: 50%;
      //transform: translate3d(-50%, -50%, 0);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &-md {
    font-size: 2rem;
  }

  /* Icon Lock */
  &-lock {

    @include media(">laptop") {
      font-size: 3.8rem;
    }

    @include media("<=laptop", ">ipad") {
      font-size: 3.5rem;
    }

    @include media("<=ipad") {
      font-size: 2.75rem;
    }
  }
}

/* --------------------------------------------------------------------------------------- */

/* **************************** Importing Custom Font Families *************************** */

/* --------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'Roboto Cn';
  src: url('../fonts/Roboto-CondensedItalic.eot');
  src: url('../fonts/Roboto-CondensedItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-CondensedItalic.woff') format('woff'),
  url('../fonts/Roboto-CondensedItalic.ttf') format('truetype'),
  url('../fonts/Roboto-CondensedItalic.svg#Roboto-CondensedItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Bk';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Black.woff') format('woff'),
  url('../fonts/Roboto-Black.ttf') format('truetype'),
  url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Cn';
  src: url('../fonts/Roboto-BoldCondensed.eot');
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-BoldCondensed.woff') format('woff'),
  url('../fonts/Roboto-BoldCondensed.ttf') format('truetype'),
  url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Rg';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto MD Lt';
  src: url('../fonts/Roboto-MediumItalic.eot');
  src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-MediumItalic.woff') format('woff'),
  url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
  url('../fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Lt';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto BI';
  src: url('../fonts/Roboto-BoldItalic.eot');
  src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-BoldItalic.woff') format('woff'),
  url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),
  url('../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Th';
  src: url('../fonts/Roboto-Thin.eot');
  src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Thin.woff') format('woff'),
  url('../fonts/Roboto-Thin.ttf') format('truetype'),
  url('../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Cn It';
  src: url('../fonts/Roboto-BoldCondensedItalic.eot');
  src: url('../fonts/Roboto-BoldCondensedItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-BoldCondensedItalic.woff') format('woff'),
  url('../fonts/Roboto-BoldCondensedItalic.ttf') format('truetype'),
  url('../fonts/Roboto-BoldCondensedItalic.svg#Roboto-BoldCondensedItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Md';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bk';
  src: url('../fonts/Roboto-BlackItalic.eot');
  src: url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-BlackItalic.woff') format('woff'),
  url('../fonts/Roboto-BlackItalic.ttf') format('truetype'),
  url('../fonts/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Th It';
  src: url('../fonts/Roboto-ThinItalic.eot');
  src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-ThinItalic.woff') format('woff'),
  url('../fonts/Roboto-ThinItalic.ttf') format('truetype'),
  url('../fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Cn';
  src: url('../fonts/Roboto-Condensed.eot');
  src: url('../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Condensed.woff') format('woff'),
  url('../fonts/Roboto-Condensed.ttf') format('truetype'),
  url('../fonts/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto ItLt';
  src: url('../fonts/Roboto-LightItalic.eot');
  src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-LightItalic.woff') format('woff'),
  url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
  url('../fonts/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto It';
  src: url('../fonts/Roboto-Italic.eot');
  src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Italic.woff') format('woff'),
  url('../fonts/Roboto-Italic.ttf') format('truetype'),
  url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo 500';
  src: url('../fonts/Museo-500.eot');
  src: url('../fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo-500.woff') format('woff'),
  url('../fonts/Museo-500.ttf') format('truetype'),
  url('../fonts/Museo-500.svg#Museo-500') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo 300';
  src: url('../fonts/Museo-300.eot');
  src: url('../fonts/Museo-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo-300.woff') format('woff'),
  url('../fonts/Museo-300.ttf') format('truetype'),
  url('../fonts/Museo-300.svg#Museo-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500';
  src: url('../fonts/MuseoSans-500.eot');
  src: url('../fonts/MuseoSans-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans-500.woff') format('woff'),
  url('../fonts/MuseoSans-500.ttf') format('truetype'),
  url('../fonts/MuseoSans-500.svg#MuseoSans-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo 700';
  src: url('../fonts/Museo-700.eot');
  src: url('../fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo-700.woff') format('woff'),
  url('../fonts/Museo-700.ttf') format('truetype'),
  url('../fonts/Museo-700.svg#Museo-700') format('svg');
  font-weight: bold;
  font-style: normal;
}
