/* -------------------------------------------------------------------- */

/* ****************************** NAMESPACE *************************** */

/* -------------------------------------------------------------------- */

$ns:					"ipro";
$img-path:				"../images/";

// == PATH VARIABLES
$font_path: '../new-icomoon/fonts/';


/* ------------------------------------------------------------------------------- */

/* ****************************** Variable Declaration *************************** */

/* ------------------------------------------------------------------------------- */

/**
Theme default colors
*/

$color-white: #ffffff;
$color-black: #222a32;
$color-raven: #f1565d;
$color-storm-grey: #7a7b7d;
$color-zumthor: #cfd2d3;
$color-heather: #bdc3c7;
$color-palma: #36414b;
$color-azure: #ecf0f1;
$color-gray: #d1d1d1;
$color-raven: #6d6e71;
$color-regent: #7f898d;
$color-charcoal: #414141;
$color-storm-grey2: #757678;
$color-springBud: #06b2f0;
$color-poloBlue: #38434d;
$color-shakespeare: #c1d7e4;
$color-sandrift: #809cad;
$color-whiteSmoke: #f1f1f1;
$color-smoke: #f8f8f8;
$color-realBlack: #000000;
$color-darkGoldenrod: #037ac2;
$color-mischka: #a8a9ad;
$color-skyBlue: #06b5f4;
$color-nero: #292929;
$color-lightgrey: #cbcbcb;
$color-heather2: #bfc4c6;
$color-vert: #7cca43;
$color-noir: #191c1e;
$color-anthracite: #222a32;
$color-grisfonce1: #36414b;
$color-grisfonce2: #7a7b7d;
$color-grisclair1: #bdc3c7;
$color-grisclair2: #f1f1f1;
$color-heather3: #d7dcde;
$color-slateGrey: #383f46;
$color-russianBlack: #adadaf;
$color-montana: #393b3c;
$color-error: #f00000;

$color-primary: #037ac2;

/**
Theme font faces, size, height etc...
*/

$base-font-family: 'Roboto Rg';
$ff-rbt-rg: $base-font-family;
$ff-roboto-light: 'Roboto Lt';
$ff-roboto-bold: 'Roboto Bold';
$ff-roboto-em: 'Roboto It';
$ff-roboto-emLt: 'Roboto ItLt';
$ff-museo-300: 'Museo 300';
$ff-museo-500: 'Museo Sans 500';
$ff-museosan-500: 'Museo 500';
$ff-museo-700: 'Museo 700';

/* Font units */

$base-font-size: 1.25rem;
$base-font-weight: 400;
$base-height: 1.563rem;
$reset-lheight: 1rem;

$uc: uppercase;
$lc: lowercase;
$caps: capitalize;

/* Z-index variables */

$negative: -1;
$zero-index: 0;
$one-index: 1;
$higher-index: 2;
$super-index: 3;

/* Form field place holder @mixin */

@mixin placeholder($selector, $color, $font-size, $font-family, $case) {
  #{$selector}::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}::-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}:-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
}

/* Box shadow @mixin */

@mixin box-shadow($x: 0, $y: 0, $d: 10px, $s: -3px, $color: rgba(0, 0, 0, 0.35)) {
  box-shadow: $x $y $d $s $color;
}

/**
prefixes vendor
*/
$prefixes: ("-moz-", "");
@mixin selection($bkg: $color-charcoal, $color: $color-white) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      background: $bkg;
      color: $color;
    }
  }
}


%link-hover-center{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;

  &:after{
    content: "";
    transition:0.3s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    bottom:0;
    height:2px;
    width:0;
    background:$color-primary;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
  }

  &:hover{
    &:after{
      width:100%;
    }
  }
}
